[2019-09-20 13:45] mswertz commented on #8659
I want that groups are automatically created when data is imported with a root package that doesn't match a group yet.  So first story M3663

[2019-09-20 14:38] fdlk opened #8674 "ACL error when importing to non-existing entitytype"
### How to Reproduce
* create a group
* Go to the advanced importer
* Import
[TypeTest.xlsx](https://github.com/molgenis/molgenis/files/3636390/TypeTest.xlsx) into the group's package
* In the navigator, go to the group's package
* Delete the Person table
* Go to the advanced importer
* Import the emx file again into the group's package, ignore metadata, add/update entities

### Expected behavior

[2019-09-20 14:54] fdlk opened #8675 "Importing pointing study data slow"
### How to Reproduce
Import an emx csv.zip containing data plus metadata for a nontrivial model like bbmri eric or the pointing study. I think what they have in common is a lot of small code lists.

### Expected behavior
It works

### Observed behavior
I do not have the patience to wait it out. Does not look like it will ever finish.
If you split it into two files, one for metadata and one for dat

[2019-09-20 14:59] fdlk commented on #8675
I think this is not new in 8.2, I heard @djvanenckevort and @marikaris complain about this before.

[2019-09-20 15:11] fdlk commented on #8563
I think it is a good thing that you get logged out if the server does not hear from you for a long while. I understand that it is a bad thing to lose your work if you've been busily editing data or metadata. So perhaps we'll have to keep pinging the server for as long as the user is still editing or otherwise we could try and allow the user to log in without losing their work. I'd call it a featur

[2019-09-20 15:13] fdlk commented on #8316
Fixed when the frontend got removed.

[2019-09-20 15:13] #8316 closed

[2019-09-20 15:30] fdlk commented on #8277
App store apps do not support localization.

If you only need one particular label "localized", I understand that you actually need to customize the existing English label(s) from one deployment to another?

We do support specifying customisation options to apps in the freemarker, and we could add this label as an option if you need a quick fix. That would be in the https://github.com/molgenis/mol

[2019-09-23 06:18] dennishendriksen commented on #8675
What are the ```max_locks_per_transaction``` and ```shared_buffers``` values of the PostgreSQL database of this MOLGENIS instance? Should be 1024 and 1GB (see #8255 and 25/03/19 mail conversation)? If the settings differ, could you try to reproduce the issue with the correct settings?

[2019-09-23 06:42] dennishendriksen commented on #8670
Cannot reproduce on my local machine. What are the ```max_locks_per_transaction``` and ```shared_buffers``` values of the PostgreSQL database of this MOLGENIS instance? Should be 1024 and 1GB.

[2019-09-23 07:05] bartcharbon opened #8681 "'home' menu item is not shown if 'Logo in navigation bar' is empty"
### How to Reproduce
- clear 'Logo in navigation bar' via the application settings

### Expected behavior
"Home" text is shown in the menu

### Observed behavior
the home page is absent from the menu

[2019-09-23 11:28] connoratrug opened #8684 "Menu items fall outside of menu in tablet size"
### How to Reproduce
- Go to: https://latest.dev.molgenis.org/menu/main/dataexplorer
- Set browser (chrome, safari) width between 768 and ~1127 pixels
- Open the menu via the hamburger button

### Expected behavior
An open menu living within its own context

### Observed behavior
An open menu that is partially rendered outside of the menu context

<img width="284" alt="Schermafbeelding 2019-09-19

[2019-09-23 11:30] connoratrug commented on #8681
proposed fix in ui-context https://github.com/molgenis/molgenis-ui-context/pull/72

[2019-09-23 11:58] connoratrug commented on #8670
checked in rancher;  ```max_locks_per_transaction``` is set to 1024

[2019-09-23 12:04] fdlk commented on #8675
Checked with these settings, waited it out on local docker 8.2.0 with
`command: -c 'shared_buffers=1024MB' -c 'max_locks_per_transaction=1024'`

Takes 15 minutes to import pointing study dataset for 7 patients (but about 150 categorical code lists)

[2019-09-23 12:08] dennishendriksen opened #8685 "[c3p0] A PooledConnection that has already signalled a Connection error is still in use!"
### How to Reproduce
Inspect https://sentry.molgenis.org/sentry/molgenis/issues/4/events/153/. The event occured in 8.2.0.

### Expected behavior
No connection issues

### Observed behavior
[code]

[2019-09-23 12:24] fdlk commented on #8675
In 5.2, with standard postgres settings, same dataset imports in 9 minutes.

[2019-09-23 13:34] bartcharbon commented on #8665
Problem only occurs for self-referencing one-to-many's.

For one-to-many's both the parent and the child end of the relation are evicted from the cache, however the updated entity is directly added again. In the case of a self-ref this is the version of the entity with only one side of the relation updated.

[2019-09-24 05:30] dennishendriksen commented on #8685
Cause: cluster downtime

[2019-09-24 05:30] #8685 closed

[2019-09-25 10:28] fdlk commented on #8670
On a clean rollout of 8.2.0 in rancher I cannot reproduce, on the test server I can.

[2019-09-25 11:13] fdlk commented on #8670
The platform transaction manager commits, calls the transaction listeners. The index manager wants to determine what needs to be done. It fetches all entity types with a method that is intended to be cached. The entity manager then ends up selecting lots of references.

What is special about the test server is that the questionnaire got loaded so there is an entity with a lot of attributes and the

[2019-09-25 11:14] fdlk commented on #8670
also happens when I simply update an attribute label

[2019-09-25 11:15] fdlk commented on #8670
[code]

[2019-09-26 15:31] fdlk commented on #8670
Tested on 7.4.8 and is also present there.

[2019-09-26 16:24] fdlk opened #8692 "Serving the home page generates too many transactions"
### How to Reproduce
In the log manager, add a debug logger for `org.molgenis.data.index`
Curl the home page of the server (no browser, just the html of the home page)
Count the amount of transactions generated by the call

### Expected behavior
Just one, maybe three transactions.

### Observed behavior
I think I see about 20 of them

[2019-09-28 06:54] mswertz commented on #8675
both obviously to long. But this requires a story to fix I suppose. So please do a triage to see if any quick fixes exist.

[2019-09-28 06:54] mswertz commented on #8681
Fix for 8.2 if small. Otherwise move to 8.3

[2019-09-30 07:13] LuukDijkhuis opened #8695 "Slow performance retrieving data for non-superusers"
### How to Reproduce
- Sign in as non-superuser
- Navigate to the 'Data explorer' plugin

### Expected behavior
- Page displays within a second

### Observed behavior
- Page displays after ~ten seconds

[2019-09-30 07:28] connoratrug commented on #8681
Yes, small , its fixed in 8.2

[2019-10-01 06:29] dennishendriksen commented on #8695
Introduced by fix for #8502 in 50fd93007596cc9b1c999ed4b695de09b8e910fb.

[2019-10-02 16:56] fdlk commented on #8499
https://security.stackexchange.com/questions/214814/why-can-i-log-in-to-my-facebook-account-with-a-misspelled-email-password?utm_source=Iterable&utm_medium=email&utm_campaign=the-overflow-newsletter&utm_content=10-02-19

[2019-10-03 10:36] connoratrug opened #8700 "Swagger V3 data api swagger-spec differs from api response"
### How to Reproduce
Load the BBMRI Eric data into a molgenis
Query the biobanks using the the V3 api

### Expected behavior
Results follow the spec as described in https://molgenis.gitbooks.io/molgenis/content/data/data-api-v3.yaml

### Observed behavior
Some non top-level resources do not contain a 'data' property while the swagger specification describes this as being a required property.

[2019-10-03 10:44] dennishendriksen commented on #8692
PR #8699 (that fixes #8695) is an improvement for this issue. Navigating to the home page as an anonymous user results in the following read-only transactions:
[code]

### 5 UserLocaleResolverImpl.resolveLocale
1) render forward:/menu
2) render forward:/plugin/home
3) MolgenisInterceptor.postHandle --> put i18n in model
4) render forward:/plugin/view-staticcontent
5) spring puts locale in model (b

[2019-10-03 12:26] #8695 closed

[2019-10-03 12:27] #8692 closed

[2019-10-08 14:49] dennishendriksen commented on #8574
I've tested a workaround that was mentioned in a comment in spring-projects/spring-security#3330 which results in a significant performance improvement (~30s instead of ~3m30s for rls-1000.xlsx). I think this is an acceptable workaround since populating an empty cache is orders of magnitude faster than partially clearing the cache.

[2019-10-10 14:22] #8574 closed

[2019-10-17 14:01] vicarioush opened #8726 "No valid CSS source files found to process"
Dear all,
I just downloaded the code and I tried to compile the project with intellij as suggested online and bumped into a problem.
Basically during the compilation I receive this error "No valid CSS source files found to process" (minify-maven-plugin).

Best

### How to Reproduce
Just try to compile.

### Expected behavior
Error during the loading of  minify-maven-plugin

### Observed behavior

[2019-10-18 11:42] marikaris opened #8729 "Importing table with ~260.000 rows takes very long time"
### How to Reproduce
Import
[vkgl-model.xlsx](https://github.com/molgenis/molgenis/files/3743682/vkgl-model.xlsx)
Then import vkgl_consensus_history data (mail me for data or simulate the vkgl_consensus_history data with ~260.000 rows)

### Expected behavior
It succeeds in less than 5 minutes (only strings, no weird data)

### Observed behavior
Import takes over an hour

[2019-10-18 13:49] bartcharbon commented on #8729
observed behaviour goes for both xlsx and csv files, both on test server and localhost

[2019-10-18 14:24] marikaris commented on #8729
<img width="1144" alt="Screen Shot 2019-10-18 at 16 23 12" src="https://user-images.githubusercontent.com/10075439/67102411-afb06300-f1c3-11e9-96fd-50e47187b0a1.png">
This was the same import in 7.x (I guess it was 7.2 back then)

[2019-10-18 14:41] bartcharbon commented on #8729
It still performs fine in the current release in "ADD" mode. The problem seems to originate from the "ADD/UPDATE"

[2019-10-22 09:08] bartcharbon commented on #8729
The problem seems to be the format of the id attr of the dataset. The string used as ID for this dataset is really difficult to index for postgres.

A test with an autoID test set results in ADD/UPDATE of 100000 rows in a few seconds. (both starting with an empty table, as one with all the rows already present)

[2019-10-22 13:06] bartcharbon opened #8730 "@Transactional on PlatformIT fails testLanguageService() in maven,jenkins, but not intellij,travis"
### How to Reproduce
Run PlatformIT with @Transactional annotation on the test class via maven

### Expected behavior
tests succeed

### Observed behavior
tests succeed on travis and when run in intellij
tests fail on jenkins and locally via maven

[2019-10-23 10:33] MaxPostema opened #8732 "metadata-manager: Selection of attribute is not persisted via URL"
### How to Reproduce
Do Testplan metadata-manager -> On navigation
- Select entity
- Select attribute
- Copy URL
- Follow URL

### Expected behavior
Selected attribute is reopened

### Observed behavior
Selected attribute is not reopened

[2019-10-23 10:42] MaxPostema opened #8733 "metadata-manager: set non-nullable gives unclear error"
### How to Reproduce
Do metadata-manager test plan: Editing existing EntityType

- Select the TypeTestRef EntityType in the dropdown
- Edit the description and press save all changes
- Add an attribute country and make it nullable and save
- Set country to non-nullable and save

### Expected behavior
You get an error telling you that value country can not be null

### Observed behavior
Unclear err

[2019-10-23 13:05] MaxPostema opened #8734 "EMX downloader - emoji characters disappear when downloaded via EMX downloader"
### How to Reproduce
Do testplan: EMXIMP002
- Import data set that is downloaded via the EMX downloader downloaded

### Expected behavior
String contains an iso latin, unicode and emoji character.
å ⦬🐀

### Observed behavior
Emoji character disappears on reimport
å ⦬??

[2019-10-23 15:26] fdlk commented on #8734
The error is in the downloader, see https://github.com/molgenis/molgenis-tools-emx-downloader/issues/69

[2019-10-23 15:26] #8734 closed

[2019-10-24 11:38] LuukDijkhuis commented on #8671
closed in frontend repo (see above)

[2019-10-24 11:38] #8671 closed

[2019-10-24 11:45] #8681 closed

[2019-10-25 10:15] fdlk commented on #8733
Investigated a bit: this is indeed new. For some reason the message gets displayed instead of the localized message.

[2019-10-25 13:19] fdlk commented on #8667
See also #8733

[2019-10-25 13:20] fdlk commented on #8733
Update: happens all over the board. The error handling has changed for private `/plugin/*` api methods.

[2019-10-25 13:23] fdlk commented on #8726
@vicarioush the error message is cosmetic, the plugin should log it as a warning. We should fix this but feel free to ignore it.

[2019-10-25 13:26] fdlk opened #8736 "Default error handling broken for /plugin/* controllers"
### How to Reproduce
See for example #8733

### Expected behavior
Controller responses are the same as before

### Observed behavior
Error handling specs have changed
* GlobalExceptionHandler no longer handles CodedRuntimeException

[2019-10-25 13:31] fdlk commented on #8667
Works correctly in 8.1.8

[2019-10-25 13:31] fdlk commented on #8736
Works correctly in 8.1.8

[2019-10-25 18:07] fdlk commented on #8667
Broken in the questionnaires code(!)

[2019-10-25 19:23] #8732 closed

[2019-10-25 19:44] fdlk commented on #8664
Duplicate of #8351

[2019-10-25 19:44] #8664 closed

[2019-10-25 19:58] fdlk commented on #8376
When importing, the server has to convert the string 2016-10-20 to a DATE_TIME instant. It uses the server timezone for this so I think the test case is dependent on the timezone of the server.

[2019-10-28 08:45] bartcharbon commented on #8733
The metadatamanager has an own exception handler for the RuntimeException that returns the getMessage(). It seems like the order in which this handler and the global one are called is changed.

The thrown exception is also new, but both extend (indirect) from RuntimeException.

[2019-10-28 08:57] bartcharbon commented on #8736
Some plugins still have an own exception handler for the RuntimeException that returns the getMessage(). It seems like the order in which this handler and the global one are called is changed.

Plugins with such a handler: metadatamanager, dataexplorer, user account controller, account controller, tagmanager and the permissionmanager

[2019-10-28 12:24] bartcharbon commented on #8733
Ignore previous comment: the thrown exception was changed from a deprecated DataValidationException to a new style codedException, those have a less human readable getMessage() (they use the getLocalizedMessage() instead)

order of the handlers is unchanged.

[2019-10-28 12:27] bartcharbon commented on #8736
Ignore previous comment: Order of the handlers is unchanged.

CodedRuntimeException is now handled through the FallbackExceptionHandler, note that the http response status has changed from 404 to 500.

#8733 is caused by a change in the actual exception thrown.

[2019-10-28 12:27] #8736 closed

[2019-10-29 08:58] mobilegenome opened #8737 "UID, not label of new entities not shown in Permission Manager"
### How to Reproduce

Create a new entity in the Metadata Manager.

version 8.1.8 built on 2019-06-20 19:50

### Expected behavior

The label of the new entity should be shown in the "Entity Class Permission" tab of the Permission manager.

### Observed behavior

Only the UID of the newly created entity is shown. Entities created via EMX import are shown correctly.

[2019-10-29 09:52] dennishendriksen commented on #8730
Observations:
- Test fails when running single threaded: ```clean verify -T1```
- Test succeeds when running single test case: ```clean verify -Dit.test=PlatformIT#testLanguageService -T1```

[2019-10-30 09:25] #8726 closed

[2019-10-31 09:52] fdlk opened #8740 "menu returned by context api is not filtered"
### How to Reproduce
Retrieve /app-ui-context as anonymous user.
Check the menu

### Expected behavior
It is filtered

### Observed behavior
It is not filtered and contains admin items as well

[2019-10-31 09:54] fdlk commented on #8737
This is tricky, the label is not unique and you want to be sure what entity you're handing out permissions on. The ID for entity types created in the manager is not user friendly.

[2019-10-31 15:53] #8730 closed

[2019-11-04 15:14] dennishendriksen commented on #7809
Vue was removed from this repository as part of #8628.

[2019-11-04 15:14] #7809 closed

[2019-11-04 15:24] dennishendriksen commented on #8684
Unsupported resolution:
[code]

[2019-11-04 15:24] #8684 closed

[2019-11-04 15:29] #8665 closed

[2019-11-04 15:31] dennishendriksen commented on #7226
Issue only exists on branch.

[2019-11-04 15:31] #7226 closed

[2019-11-04 15:48] dennishendriksen commented on #8652
@djvanenckevort could you add a story to the backlog since this is a feature change request?

[2019-11-04 15:48] #8652 closed

[2019-11-04 15:55] dennishendriksen commented on #8563
@djvanenckevort could you add a story to the backlog?

I'll leave the story open since the error message is wrong.

[2019-11-04 15:58] dennishendriksen commented on #8516
Fixed by #8627.

[2019-11-04 15:58] #8516 closed

[2019-11-04 16:03] dennishendriksen commented on #8492
@Fernananas could you add a story to the backlog since this is a feature request?

[2019-11-04 16:03] #8492 closed

[2019-11-04 16:05] dennishendriksen commented on #8455
@marijevdgeest *bump*

[2019-11-04 16:06] dennishendriksen commented on #8420
@marikaris could you add a version label?

[2019-11-04 16:08] dennishendriksen commented on #8401
We use it in the system data model.

[2019-11-04 16:10] dennishendriksen commented on #8401
Solution strategy: https://stackoverflow.com/a/17320771

[2019-11-04 16:13] dennishendriksen commented on #8178
@marikaris *bump* see my previous comment

[2019-11-04 17:51] fdlk commented on #8401
@dennishendriksen Do we use values outside of the javascript number range in practice?

[2019-11-05 06:23] dennishendriksen commented on #8401
I don't know

[2019-11-05 06:59] dennishendriksen commented on #8700
@connoratrug Could you be more specific? Which endpoint(s) do not match the spec?

[2019-11-08 07:18] dennishendriksen commented on #8730
Cause: https://github.com/spring-projects/spring-framework/issues/11019

[2019-11-12 10:28] sidohaakma opened #8752 "As ops we want empty mail-user and mail-password in molgenis-server.properties template"
### How to Reproduce
At this moment we define a user: "molgenis" and password: "xxxx".
This is not overwritten by the default installation. We use the smtp server of our facility which does not need userbased authentication. So sending mail breaks when you install a fresh MOLGENIS.

### Expected behavior
MOLGENIS is able to send mail when installed on a VM

### Observed behavior
MOLGENIS is fails

[2019-11-12 10:31] mobilegenome commented on #8737
Agreed that you want to be sure what entity is being handled in the permission manager. In my opinion showing the label and maybe a warning if the label is duplicate in the database could be a solution.

[2019-11-14 10:04] dennishendriksen commented on #8752
From ```org.molgenis.settings.mail.MailSettingsImpl```:
[code]
The default values are ```null``` ...

[2019-11-14 11:54] marikaris opened #8759 "One_to_many's with autoids cannot be imported"
### How to Reproduce
Import:
[lifecycle_model.xlsx](https://github.com/molgenis/molgenis/files/3846298/lifecycle_model.xlsx)
Then:
[menu.xlsx](https://github.com/molgenis/molgenis/files/3846301/menu.xlsx)
Then:
[test_data_menu.xlsx](https://github.com/molgenis/molgenis/files/3846303/test_data_menu.xlsx)

### Expected behavior
My row imports successfully

### Observed behavior
Cannot update [UI_Men

[2019-11-14 12:31] fdlk opened #8761 "Context api help link is not usable"
### How to Reproduce
call the context api, inspect the help link

### Expected behavior
It is a JSON object

### Observed behavior
It is a string that isn't valid json because it has the wrong quotes

[2019-11-14 12:35] marikaris opened #8762 "When altering name of one to many in metadata manager my attribute gets deleted"
### How to Reproduce
Import
[lifecycle_model.xlsx](https://github.com/molgenis/molgenis/files/3846453/lifecycle_model.xlsx) and
[menu.xlsx](https://github.com/molgenis/molgenis/files/3846454/menu.xlsx)
Go to metadata manager
Change the name of "children" to "Children"
Save
You will get a success message:
![Screen Shot 2019-11-14 at 13 31 15](https://user-images.githubusercontent.com/10075439/68857

[2019-11-15 10:07] fdlk commented on #8667
Fixed in frontend.

[2019-11-15 10:07] #8667 closed

[2019-11-15 10:27] #8740 closed

[2019-11-15 10:27] #8761 closed

[2019-11-20 12:27] connoratrug opened #8772 "Help docs code example formatting broken in permission docs"
### How to Reproduce
go to: https://molgenis.gitbooks.io/molgenis/content/guide-api-permissions.html
- scroll down to detail section on using the api to change permissions

### Expected behavior
nice formatting of code example, similar to elsewhere in the docs

### Observed behavior
formatted, hard to read json string  json string

[2019-11-20 12:30] connoratrug opened #8773 "Wrong key in permissions api docs"
### How to Reproduce
https://molgenis.gitbooks.io/molgenis/content/guide-api-permissions.html

### Expected behavior
example should match api
[code]
### Observed behavior
examples to not match api , and therefore do not work
[code]

[2019-11-25 09:57] dennishendriksen commented on #8762
The UI should not allow changing the attribute name since attribute names are read-only in MOLGENIS.

[2019-11-25 13:28] dennishendriksen commented on #8700
@connoratrug *bump*

[2019-11-25 13:34] dennishendriksen commented on #8752
@sidohaakma see previous comment. what needs to be changed?

[2019-11-25 13:36] connoratrug commented on #8700
@dennishendriksen see issue report, i have no further details available to make it more specific

[2019-11-25 13:45] dennishendriksen commented on #8700
ok, that's a pity. feel free to reopen when it is clear what the issue is and how to reproduce it.

[2019-11-25 13:45] #8700 closed

[2019-11-25 13:50] dennishendriksen commented on #8772
Workaround: use https://github.com/molgenis/molgenis/blob/master/docs/guide-api-permissions.md instead of the gitbooks documentation.

I can't spot any errors in the markdown file that would lead to the rendering errors on gitbook.

[2019-11-25 14:12] dennishendriksen commented on #8773
@connoratrug I can't find any documentation examples containing ```objectId``` (all: id) nor can I find a permission endpoint that exposes an ```objectId``` field (all: id). Could you supply an example?

[2019-11-25 14:49] connoratrug commented on #8773
<img width="1202" alt="Screenshot 2019-11-25 at 15 48 29" src="https://user-images.githubusercontent.com/47183404/69550340-1bdc6e80-0f9b-11ea-9c18-9bb546cdd024.png">

[2019-11-25 14:57] dennishendriksen commented on #8759
Absent entity identifiers are automatically generated in the data layer. The source entity stream doesn't generate any identifiers which triggers in two separate identifier sets being generated.

[2019-11-25 15:06] dennishendriksen commented on #8759
We could do something like:
[code]

[2019-11-25 15:15] dennishendriksen commented on #8773
That's what I mentioned. I can't find any reference to ```objectId``` in the documentation and endpoints. Which documentation example or request has an ```objectId```?

[2019-11-25 15:32] dennishendriksen commented on #8675
Can anyone (@fdlk @marikaris maybe?) supply me with a data example so that I can do a triage?

[2019-11-25 15:47] dennishendriksen commented on #8674
I think the expected behavior should be a successful import since there is no data referencing Person in the data and the metadata is ignored.

[2019-11-25 15:50] dennishendriksen commented on #8659
M6336

[2019-11-25 15:53] dennishendriksen commented on #8584
I don't see any stack traces in the latest successful Travis integration test runs. Can you still reproduce @bartcharbon ?

[2019-11-25 15:57] dennishendriksen commented on #8499
I think this is feature change request that requires careful thinking, not a security issue. @Fernananas could you create a story in the backlog?

[2019-11-25 15:57] #8499 closed

[2019-11-25 16:03] dennishendriksen commented on #8305
Side note: the account plugin requires a minimum of 6 characters (which doesn't have to result in secure passwords ofcourse).

[2019-11-26 06:30] dennishendriksen commented on #8498
@marikaris could you address the comment of @mswertz?

[2019-11-26 07:13] dennishendriksen commented on #8675
Got one from @marikaris, thanks.

[2019-11-26 09:07] dennishendriksen commented on #8675
### EMX pointing v11.3model-DEF samen met UTO v1.3.xlsx
Imports in 141956ms using molgenis/master on my local machine
90% of the time is spend on database select queries mostly triggered via ```IndexDependencyModel.hasAttributeThatReferences```.
I would expect most data to be retrieved from cache instead of the database.

@fdlk any clue why your import was six times slower?

### eric_data_nov2019.

[2019-11-26 12:25] fdlk commented on #8675
@dennishendriksen Not sure if we have the same dataset, I ran https://github.com/molgenis/molgenis-py-pointing-transform on a private data odm export.

[2019-11-26 12:35] dennishendriksen commented on #8675
@fdlk I've used https://drive.google.com/file/d/1qhy8rJL0MrB3WFUCCYN-Ze4LEQOy--gn/view?usp=sharing. Is it the same?

[2019-11-26 13:23] fdlk commented on #8675
@dennishendriksen no, that does not look familiar

[2019-11-28 13:31] #8733 closed

[2019-11-29 11:53] #8674 closed

[2019-12-02 11:48] #8675 closed

[2019-12-04 06:09] dennishendriksen commented on #8773
@connoratrug *bump*

[2019-12-04 06:09] dennishendriksen commented on #8752
@sidohaakma *bump*

[2019-12-04 07:10] dennishendriksen commented on #8498
@marikaris *bump*

[2019-12-04 09:08] connoratrug commented on #8773
it the other way around, docs have id, api use objectId

[2019-12-04 09:48] dennishendriksen commented on #8773
@connoratrug see my previous comment:

please provide an example/request in order to reproduce the issue.

[2019-12-04 10:13] dennishendriksen commented on #8772
Related:  http://wiki.gcc.rug.nl/ticket/6666

[2019-12-04 10:36] dennishendriksen opened #8790 "Package delete can fail"
### How to Reproduce
- As superuser import [eric_data_nov2019.xlsx](https://github.com/molgenis/molgenis/files/3921303/eric_data_nov2019.xlsx) using the 'Advanced data import' plugin in the 'Import data' menu. If the import takes too long consider importing the metadata first and the data afterwards.
- Navigate to the 'Navigator' plugin, select ```eu_bbmri_eric``` package and delete

### Expected

[2019-12-04 11:32] connoratrug opened #8791 "Can not delete row from Localization table in data explorer"
### How to Reproduce
- Sign in to https://lifelines.dev.molgenis.org/ as admin
- Open the Localization table in the dataexplorer
- delete row with auto generated key ( for example: aaaac3wqrnr7cbudfj5hzbyaai)
### Expected behavior
Row is deleted

### Observed behavior
Row is not deleted, messages is show at the top of the page:
 'Error! Unknown error'

[2019-12-05 10:27] marikaris commented on #8498
Sorry about that! Yes, in two steps it does work.

[2019-12-05 10:45] connoratrug opened #8793 "Non actionable 'warning' when updating Computed value expression"
### How to Reproduce
Create new entity with id ( string) and label (string) fields
Add a row with any id, and label ( for example id='1' , label='FooBar')
Use Metadata manager plugin to add new attribute as Computed value expression
```$('label').toLowerCase()```

### Expected behavior
New attribute is added as computed field, or actionable error message is shown if invalid expression is provided

[2019-12-05 14:12] marikaris opened #8794 "Cannot to add data to new catalogue model"
### How to Reproduce
Create a security group to upload in
Upload
[morris_catalogue_model_v5.xlsx](https://github.com/molgenis/molgenis/files/3927194/morris_catalogue_model_v5.xlsx)
Go to the "Collection" table
Click on add row
Click on the "eye" button in the right upper corner to hide the not required fields
Add a name and identifier

### Expected behavior
My line gets added

### Observed behavio

[2019-12-06 20:44] fdlk opened #8797 "OpenID connect redirect_uri sometimes doesn't take X-Forwarded-* headers into account"
### How to Reproduce
In short: try to use OpenID Connect behind a proxy.
It will fail because the redirect_uri is incorrect.

More detailed:
Start server on localhost (or on the kubernetes cluster).
Configure an OIDC client
Set authentication settings: allow signup, no moderation, use the OIDC client

Send a curl with forward header to the OIDC authorization
[code]
(Or on the cluster, just open th

[2019-12-06 20:48] fdlk commented on #8797
It's specific for the OIDC redirect, not a regression of #8429 . A curl to http://localhost/molgenis.R shows the correct hostname and protocol

[2019-12-06 20:59] fdlk commented on #8797
The `org.springframework.web.filter.ForwardedHeaderFilter` fixes the request. We register it in the `MolgenisWebAppInitializer`.

The `org.springframework.security.config.annotation.web.configurers.oauth2.client.OAuth2LoginConfigurer` configures an `org.springframework.security.oauth2.client.web.OAuth2LoginAuthenticationFilter` which triggers the redirect.

Both are `GenericFilterBeans` so I get t

[2019-12-06 23:10] fdlk commented on #8797
The bug depends on the order of the filter registration.
I think this order is random, cause I am seeing different orders with the same code.

<img width="660" alt="Screenshot 2019-12-06 at 23 38 10" src="https://user-images.githubusercontent.com/1523838/70362604-dca8fa00-1885-11ea-83d8-6a8a8712ae1f.png">
<img width="849" alt="Screenshot 2019-12-06 at 23 31 35" src="https://user-images.githubuserc

[2019-12-12 07:32] dennishendriksen commented on #8773
@connoratrug *bump*

Last call, else the issue will be closed because it can't be reproduced.

[2019-12-13 08:27] marikaris opened #8811 "Broken error message when deleting app"
### How to Reproduce
Load database dump of BBMRI eric 7.2 on an 8.2
Go to app  manager
Inactivate app
Delete app

### Expected behavior
My app will delete

### Observed behavior
Cryptic error message (a birdy told me this error message has two different translations)
![Screenshot 2019-12-13 at 09 25 08](https://user-images.githubusercontent.com/10075439/70785364-bfdf5b80-1d8a-11ea-82f2-c4f8ce1c8fa

[2019-12-13 15:23] marikaris opened #8814 "Biobank explorer even slower on master"
### How to Reproduce
Upload the data + meta data of the eric package  (get it on accept server via navigator) THIS DOES WORK NOW, YAY! It almost makes up for this issue
Then upload the most recent version of the app via the app manager (for instance this one:
[molgenis-app-biobank-explorer.zip](https://github.com/molgenis/molgenis/files/3961420/molgenis-app-biobank-explorer.zip))
Add biobank explo

[2019-12-16 06:48] #8797 closed

[2019-12-16 08:17] dennishendriksen opened #8815 "Paged API response incorrect on out-of-bounds page request"
### How to Reproduce
- GET ```<baseUri>/api/data/sys_md_Attribute?page=1000```

### Expected behavior
[code]
- no previous link
- valid total pages

### Observed behavior
[code]

[2019-12-16 12:44] dennishendriksen commented on #8814
### Analysis
With the current master deployed on localhost the biobank explorer loads in about three seconds on my laptop when signed in as a superuser:
![image](https://user-images.githubusercontent.com/2477186/70904269-38e7e880-2001-11ea-8fd4-94afbf32035b.png)

Out of the 30 (!) requests required to load the page this can mainly be attributed to the request:
```GET http://localhost/api/v2/eu_bbm

[2019-12-16 14:08] dennishendriksen commented on #8814
master 									-  admin: 2.5s, anonymous: 14s

1) The fix for '#8502 spring security beans are not using the molgenis rolehierarchy' degrades performance
  (see: 50fd93007596cc9b1c999ed4b695de09b8e910fb)
2) This performance degradation was reported in '#8695 slow performance retrieving data for non-superusers'
3) The degradation was addressed in #8699 by resolving various other performance bottle

[2019-12-17 08:39] #8815 closed

[2019-12-17 09:50] #8661 closed

[2019-12-17 10:11] #8811 closed

[2019-12-19 13:16] svandenhoek opened #8823 "Button labels don't always load"
### How to Reproduce
1. Go to the following page: Log into Molgenis -> Data Explorer -> Static content
2. Press the "edit row" button.

Reproducibility is based on server response speed. When the page loads immediately, the expected behavior occurs. If it takes a while before the page is loaded (and temporarily a white screen is shown), the bug can occur. Might not be a page-specific bug, but have

[2019-12-19 13:56] dennishendriksen commented on #8773
Cannot reproduce.

[2019-12-19 13:56] #8773 closed

[2019-12-19 14:01] dennishendriksen commented on #8659
Already fixed in e762e65836530fe4a708e61c8b9b45254e097094 by @connoratrug .

[2019-12-19 14:01] #8659 closed

[2019-12-19 14:44] dennishendriksen commented on #8762
@jvanveen should this issue be closed and added to the draft release notes?

[2019-12-20 06:50] dennishendriksen opened #8824 "Remove VuePluginController"
### How to Reproduce
- Look at org.molgenis.core.ui.controller.VuePluginController

### Expected behavior
- A plugin should not be aware of the frontend technology used for the plugin UI
- VuePluginController should be removed

### Observed behavior
- If the plugin UI is build using Vue then the plugin controller extends from VuePluginController

[2019-12-20 06:55] dennishendriksen commented on #8752
@sidohaakma can you address my comment? else the issue will be closed because it cannot be reproduced.

[2019-12-23 12:54] sidohaakma commented on #8752
I am closing this. When we run into a problem with the email we can open a new one.

[2019-12-23 12:54] #8752 closed

[2020-01-06 07:29] dennishendriksen commented on #8791
Can't reproduce because the table doesn't contain any entities with auto generated identifiers. Removing a random row in the table on my local machine works.

[2020-01-06 08:29] dennishendriksen commented on #8790
#8498 is not related to this issue.

[2020-01-06 08:38] dennishendriksen commented on #8498
The delete fails correctly since you are not removing the entity type ```nki``` which extends from the entity type ```vkgl_map_lab_model```. The delete succeeds when you add ```nki``` to the list of deleted entity types.

[2020-01-06 08:38] #8498 closed

[2020-01-06 09:23] dennishendriksen commented on #8762
@jvanveen *bump*

[2020-01-06 09:31] #8129 closed

[2020-01-06 09:32] dennishendriksen commented on #8287
@marikaris *bump*

[2020-01-06 09:37] #8255 closed

[2020-01-06 11:45] bartcharbon commented on #8286
Fixed by "Introduction and usage of DataConstraintViolationException classes"
Commit: https://github.com/molgenis/molgenis/commit/14ffd476a9ddbaa299c34991ebb9163c7f29ca8c

[2020-01-06 11:45] #8286 closed

[2020-01-06 12:30] bartcharbon commented on #8227
UI issues, the "refEntity" field gets cleared upon change of the "datatype" field. In my opinion this should not happen when you change a ref datatype to a differenct ref datatype.

[2020-01-07 07:40] #8790 closed

[2020-01-07 08:20] bartcharbon commented on #8241
Replaced by story http://wiki.gcc.rug.nl/ticket/7091: since this is works this way by design this more a feature request than an issue.

[2020-01-07 08:20] #8241 closed

[2020-01-08 06:37] dennishendriksen commented on #5951
Fixed by #8201

[2020-01-08 06:37] #5951 closed

[2020-01-08 08:03] dennishendriksen commented on #4680
Currently many integration tests run as a non-superuser (@WithMockUser).

[2020-01-08 08:03] #4680 closed

[2020-01-08 10:11] #8762 closed

[2020-01-08 10:15] mswertz commented on #8670
Is this still present in 8.2RC?

[2020-01-08 10:16] mswertz commented on #8584
please close @bartcharbon unless you can reproduce

[2020-01-08 10:17] mswertz commented on #8349
close because a story.

[2020-01-08 10:17] #8349 closed

[2020-01-08 10:24] mswertz commented on #6508
Is this an error that occurs on our production servers at the moment? If yes, then we fix it urgently, if not we will postpone. Please advice.

[2020-01-08 10:24] mswertz commented on #8451
I have memory that this one was fixed. Is that correct?

[2020-01-08 10:29] mswertz commented on #8467
I cannot reproduce. I logged in as admin, went to metadata editor, and created a new entity with one column for the ID. Package was left null. I clicked 'save' and it works.

[2020-01-08 10:31] mswertz commented on #8355
This is indeed very confusing. Error is shown but no hint how to fix (not even saying that I should correct the 'null' values, because by saying 'invalid values' it even steers me in wrong direction). What is the cost for fixing this?

[2020-01-08 10:50] djvanenckevort commented on #6508
Yes, it occurs on production servers.

[2020-01-08 10:53] dtroelofsprins opened #8835 "Removing a default value of type Boolean via Metadata Manager results in an empty string in stead of null"
### How to Reproduce
Create a test entity with at least one attribute of type bool.
Add via Metadata Manager a default value to this bool attribute and then remove it again.
Try to add a new record.

### Expected behavior
No error messages.

### Observed behavior
An insert error occurs: _Attribute [test_bool] value [] cannot be converter to type [Boolean]_

=> When removing a default value via dat

[2020-01-08 12:06] dennishendriksen commented on #8584
@mswertz @bartcharbon has been working on this yesterday cleaning up tests to get rid of this.

[2020-01-08 15:14] mswertz commented on #6508
So than this must be solved because an anonymous user facing broken window.

[2020-01-09 06:34] dennishendriksen commented on #8467
@mswertz you need to perform the action as a non-superuser

[2020-01-09 06:35] dennishendriksen commented on #8451
@tommydeboer could you address the comment of @mswertz?

[2020-01-09 06:37] dennishendriksen commented on #8421
I don't know.

Might work when editing rows through the data explorer

[2020-01-09 06:40] dennishendriksen commented on #8409
Ok

[2020-01-09 06:40] #8409 closed

[2020-01-09 06:49] dennishendriksen commented on #8362
@LuukDijkhuis @fdlk is it fixed in the new forms?

[2020-01-09 06:54] dennishendriksen commented on #8355
@fdlk could you address @mswertz his comment?

According to #8409 the save button should always be enabled.

[2020-01-09 07:07] dennishendriksen commented on #8338
@connoratrug by design the sign up button is part of the sign in dialog. since feature and feature change requests are administered in the backlog and not in GitHub could you create story?

[2020-01-09 07:07] #8338 closed

[2020-01-09 07:18] dennishendriksen commented on #8208
I agree

[2020-01-09 07:21] dennishendriksen commented on #8135
@ConnorStroomberg @connoratrug could you address @mswertz his question?

[2020-01-09 07:25] dennishendriksen commented on #8824
Keep in mind #8122

[2020-01-09 07:32] dennishendriksen commented on #8019
Confirmed :)

[2020-01-09 07:32] #8019 closed

[2020-01-09 07:37] dennishendriksen commented on #7925
do you have any info?

[2020-01-09 07:37] dennishendriksen commented on #7881
@marikaris ?

[2020-01-09 07:45] tommydeboer commented on #8451
@mswertz This seems to be fixed indeed!

[2020-01-09 07:45] #8451 closed

[2020-01-09 07:52] dennishendriksen commented on #8467
Related to #7845

[2020-01-09 08:09] dennishendriksen commented on #7637
Related #8443

[2020-01-09 08:11] dennishendriksen commented on #7613
@tommydeboer Already solved?

[2020-01-09 08:20] dennishendriksen commented on #7512
Frontend moved out of molgenis repository.

[2020-01-09 08:20] #7512 closed

[2020-01-09 08:22] tommydeboer commented on #7613
Solved!

[2020-01-09 08:22] #7613 closed

[2020-01-09 08:38] dennishendriksen commented on #7332
Resolved, since this part of the frontend was moved from https://github.com/molgenis/molgenis to https://github.com/molgenis/molgenis-frontend

[2020-01-09 08:38] #7332 closed

[2020-01-09 08:42] dennishendriksen commented on #7082
I don't know since this is runtime code.

[2020-01-09 08:46] dennishendriksen commented on #6884
Was this issue addressed in the new forms?

[2020-01-09 08:49] dennishendriksen commented on #6608
can someone check?

[2020-01-09 10:38] dennishendriksen commented on #8670
Yes

[2020-01-09 11:46] dennishendriksen commented on #5999
Has it been addressed?

[2020-01-09 11:50] dennishendriksen commented on #5297
Has is been addressed?

[2020-01-09 11:54] dennishendriksen commented on #3281
Was it fixed?

[2020-01-09 11:56] dennishendriksen commented on #3754
Was it addressed?

[2020-01-09 12:00] dennishendriksen commented on #3901
Was it addressed?

[2020-01-09 12:01] dennishendriksen commented on #3903
Was it addressed?

[2020-01-09 12:03] dennishendriksen commented on #4261
Was it addressed?

[2020-01-09 12:05] dennishendriksen commented on #5129
Was it addressed?

[2020-01-09 12:27] bartcharbon commented on #5638
After https://github.com/molgenis/molgenis/pull/8837 no unexplained stack traces remain when running the integration tests

[2020-01-09 12:27] #5638 closed

[2020-01-09 14:34] dennishendriksen commented on #5760
internal server message is not exposed anymore

[2020-01-09 14:34] #5760 closed

[2020-01-09 14:35] dennishendriksen commented on #6861
SortaServiceAnonymousController was removed

[2020-01-09 14:35] #6861 closed

[2020-01-09 14:38] dennishendriksen commented on #7028
Responses were moved to files.

[2020-01-09 14:38] #7028 closed

[2020-01-13 07:24] dennishendriksen opened #8840 "Data explorer beacon table error in Firefox"
### How to Reproduce
- Open ```<baseUrl>/menu/main/dataexplorer?entity=sys_beacons_Beacon``` in Firefox 72.0.1

### Expected behavior
- Empty table displayed

### Observed behavior
```Error! An error occurred. Please contact the administrator.``` is displayed. Console prints:
[code]

All other system tables load without issues in Firefox 72.0.1. Beacon table loads without issues in Microsoft Edge

[2020-01-13 07:55] dennishendriksen opened #8841 "Deleting system beacon package fails"
### How to Reproduce
- Start MOLGENIS with an empty database
- Stop MOLGENS
- Remove ```molgenis-beacon``` module and all references
- Start MOLGENIS

### Expected behavior
- ```sys_beacon``` package with all content removed

### Observed behavior
[code]

Problem doesn't occur when removing other system packages doesn't (e.g. negotiator).

[2020-01-13 16:46] #7031 closed

[2020-01-15 12:35] jprofijt opened #8845 "Redirect plugin documentation incorrect/incomplete"
### How to Reproduce
navigate to: https://molgenis.gitbooks.io/molgenis/content/guide-customize.html

Section try it out > Creating redirects to URLs outside MOLGENIS

Add a new menu item with described parameters
* Plugin: redirect
* Name: Wikipedia Link
* Query string: https://en.wikipedia.org/wiki/Bioinformatics

### Expected behavior
* Inserting url as described in documentation will redirect

[2020-01-15 14:22] fdlk commented on #8845
Pending better documentation for this: The query string should list the parameters, not just the value of the url parameter.
So you need to enter
`url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FBioinformatics` (note the url encoding)

[2020-01-16 07:32] dennishendriksen opened #8846 "Elasticsearch cluster status 'yellow'"
### How to Reproduce
[code]

### Expected behavior
[code]

### Observed behavior
[code]

[2020-01-16 07:34] dennishendriksen commented on #8846
status is yellow because of the following unassigned shards:
[code]
[code]

### Cause
indices are unassigned because they are created by Elasticsearch itself and not by MOLGENIS. Indices created via MOLGENIS are created with settings replicas=0 and shards=1. Indices created by Elasticsearch do not use these index settings.

Since we are not using monitoring/watches removing this feature will solve

[2020-01-16 07:35] dennishendriksen commented on #8846
Related: https://github.com/molgenis/docker/pull/62

[2020-01-16 12:11] dennishendriksen commented on #8791
@connoratrug *bump* how to reproduce?

[2020-01-16 15:19] #8845 closed

[2020-01-16 15:41] dennishendriksen opened #8849 "SORTA NullPointerException on match start"
### How to Reproduce
1. Sign in as superuser
2. Import the biobank ontology [biobank_ontology.owl.zip](https://github.com/molgenis/molgenis/files/4072081/biobank_ontology.owl.zip) using the advanced import wizard
3. Navigate to the SORTA plugin
4. Enter a name
5. Select the biobank ontology
6. Paste the content of [sorta_test.txt](https://github.com/molgenis/molgenis/files/4072086/sorta_test.txt)

[2020-01-17 13:42] #8849 closed

[2020-01-20 08:34] #8824 closed

[2020-01-20 08:55] #8846 closed

[2020-01-23 15:52] dennishendriksen opened #8855 "Sub-attribute query broken in data/metadata API"
### How to Reproduce
- Sign in as superuser
- GET ```/api/data/sys_md_Package?q=parent.id==sys```
- GET ```/api/metadata?q=attributes.name==label```

### Expected behavior
Both requests complete successfully

### Observed behavior
Both requests fail with an unknown attribute exception

[2020-01-23 15:57] dennishendriksen opened #8856 "Sub-sub-attribute queries broken for entity types with index depth 2"
### How to Reproduce
- Sign in as superuser
- Import [eric_data_nov2019.xlsx](https://github.com/molgenis/molgenis/files/4103946/eric_data_nov2019.xlsx)
- Using the data explorer entity type table set the indexing depth of entity type biobanks to 2
- GET ```/api/v2/eu_bbmri_eric_biobanks?q=collections.quality.id=in=(aaaac3px2yzdb6qwh2txm3qaae,aaaac3pyaukkd6qwh2txm3qaae)``` (replace ids with actual

[2020-01-24 14:12] tommydeboer opened #8861 "Permission API fails silently when trying to POST a permission that already exists"
### How to Reproduce
1. Import `it_emx_autoid.xlsx` (or any other entity type)
2. Add a user _henk_
3. Give _henk_ **READ** on _it_emx_autoid_testAutoId_:

[code]
4. Now give _henk_ **WRITE** on _it_emx_autoid_testAutoId_:

[code]

### Expected behavior
The API returns an error that the entry already exists. (To update it, a PATCH should be used)

### Observed behavior
`201 created` is returned, b

[2020-01-27 07:13] dennishendriksen opened #8862 "Cookie wall overlaps menu for vue plugins"
### How to Reproduce
- Sign in as superuser
- Navigate to the Settings plugin
- Set a dummy 'Google analytics tracking ID'
- Select 'Save changes'

### Expected behavior
- Cookie wall is displayed above the main menu
![image](https://user-images.githubusercontent.com/2477186/73156034-b44ab880-40dc-11ea-931f-984140001cef.png)

### Observed behavior
- Cookie wall overlaps the menu for Vue plugins
-

[2020-01-27 08:26] #8856 closed

[2020-01-27 09:49] #8855 closed

[2020-01-27 10:30] dennishendriksen opened #8864 "Menu manager broken"
### How to Reproduce
- Sign in as superuser
- Navigate to the menu manager plugin

### Expected behavior
- Plugin page displayed

### Observed behavior
[code]

[2020-01-27 12:58] dennishendriksen opened #8866 "Web application doesn't unregister JDBC Driver"
### How to Reproduce
- Start molgenis-app using Tomcat Server via IntelliJ
- Stop molgenis-app

### Expected behavior
- No JDBC Driver warnings

### Observed behavior
[code]
Also observed are other messages reported in #7720.

[2020-01-27 13:19] dennishendriksen commented on #7720
Up-to-date error message list:
[code]
```io.netty.util.internal.InternalThreadLocalMap``` memory leak: https://github.com/netty/netty/issues/6891

[2020-01-27 14:25] #8864 closed

[2020-01-28 08:46] #8866 closed

[2020-01-29 10:23] christianhilbrands opened #8871 "Missing bootstrap on creation"
### How to Reproduce
Difficult to reproduce. Looks like a timing issue or a not clean install of molgenis. But that was told to me by Connor but it is not tested.

### Expected behavior
On launch of a fresh molgenis instance on the rancher cluster, if you go to the website(in this case: http://hub.test.molgenis.org) you get a page with proper populated CSS theming.

### Observed behavior
On launch

[2020-01-29 14:24] connoratrug opened #8873 "Broken link in api v3 docs"
### How to Reproduce
go to https://molgenis.gitbooks.io/molgenis/content/guide-api-data.html
follow the link in de download section

### Expected behavior
The api spec file is downloaded

### Observed behavior
Nothing happens

[2020-01-30 06:43] #8584 closed

[2020-01-30 07:27] #7720 closed

[2020-01-30 07:34] #8426 closed

[2020-01-30 07:34] #6508 closed

[2020-01-30 09:39] dennishendriksen commented on #6811
Fixed by #8857.

[2020-01-30 09:39] #6811 closed

[2020-01-30 09:41] dennishendriksen commented on #8873
Duplicate of #8302 (see issue for workaround).

[2020-01-30 09:41] #8873 closed

[2020-01-30 09:44] dennishendriksen commented on #6341
@fdlk *bump*

[2020-01-30 09:50] dennishendriksen commented on #4732
Querying on null values is not ambigious (anymore?). Use RSQL quoting to query for null values:
```/api/v2/eu_bbmri_eric_biobanks?q=collections=='' ```
```/api/v2/eu_bbmri_eric_biobanks?q=collections=in=('')```
```/api/v2/eu_bbmri_eric_biobanks?q=collections=in=('','myCollectionId')```

This works at least as far back as MOLGENIS 2.0.1

[2020-01-30 09:50] #4732 closed

[2020-01-30 10:18] dennishendriksen opened #8874 "Query on nullable mref incorrect results"
### How to Reproduce
- Sign in as superuser
- Import [it_emx_mrefnullable.xlsx](https://github.com/molgenis/molgenis/files/4133449/it_emx_mrefnullable.xlsx) using the 'Advanced data import' plugin
- GET ```/api/data/it_emx_nullablemref_Dataset?q=nullableRef!=ref2```

### Expected behavior
3 results: row0, row1 and row2

### Observed behavior
2 results: row1 and row2

[2020-01-30 10:22] dennishendriksen commented on #8874
Queries execute correctly when executed by Elasticsearch.

[2020-01-30 10:27] dennishendriksen opened #8875 "Query of type 'in' on nullable mref incorrect results"
### How to Reproduce
- Sign in as superuser
- Import [it_emx_mrefnullable.xlsx](https://github.com/molgenis/molgenis/files/4133449/it_emx_mrefnullable.xlsx) using the 'Advanced data import' plugin
- a) GET ```/api/data/it_emx_nullablemref_Dataset?q=nullableRef!=in=('')```
- b) GET ```/api/data/it_emx_nullablemref_Dataset?q=nullableRef!=in=('',ref2)```

### Expected behavior
- a) 1 result: row0
- b

[2020-01-30 13:21] dennishendriksen commented on #8871
[code]
Does the file exist on the file system?

The file is retrieved when you request a MOLGENIS page via:
[code]

[2020-01-30 14:05] fdlk commented on #6341
It probably got mitigated a bit when we stopped serving the frontend resources through this filter. I do not have benchmarks but it should be easy to remove the filter and compare.

[2020-01-30 14:09] dennishendriksen opened #8876 "Query of type 'search' fails for ref attributes"
### How to Reproduce
- Sign in as superuser
- Import [eric_data_nov2019.xlsx](https://github.com/molgenis/molgenis/files/4103946/eric_data_nov2019.xlsx)
- a) GET ```/api/data/eu_bbmri_eric_collections?q=materials=q=DNA```
- b) GET ```/api/data/eu_bbmri_eric_collections?q=materials.id=q=DNA```

### Expected behavior
a) 475 items
b) 475 items

### Observed behavior
a) 0 items
b) 475 items

[2020-01-30 14:35] christianhilbrands commented on #8871
I saw that the namespace of the hub(hub.test.molgenis.org) was created on 17 januari 2020 and just yesterday he came to me with this question so probably was the namespace not empty.

[2020-01-30 14:47] dennishendriksen commented on #8871
Please re-open in case the problem reoccurs.

[2020-01-30 14:47] #8871 closed

[2020-01-30 15:02] dennishendriksen commented on #8871
Related? #7925

[2020-01-30 15:42] bartcharbon opened #8877 "Location header of identities API contains duplicated path segments"
### How to Reproduce
- open developer console in your browser
- add user1 as a member to a group
- inspect response headers

### Expected behavior
Location:
http://localhost/api/identities/group/group123/member/user1

### Observed behavior
Location: http://localhost/api/identities/**group/group123/member/group123**/member/user1

[2020-02-03 07:00] #8877 closed

[2020-02-03 11:24] #8876 closed

[2020-02-04 10:55] dennishendriksen commented on #2763
@jelmerveen ran into this issue on a MOLGENIS deployed on the edge cluster.

Due to the nature of the current deployment ecosystem (kill something if it isn't ok and fire up a new instance) I expect it to happen more often.

[2020-02-04 13:54] dennishendriksen opened #8883 "Import jobs reported running after restart"
### How to Reproduce
- Import a file user the advanced importer
- Restart the server during import

### Expected behavior
- All RUNNING imports are set to FAILED

### Observed behavior
- All RUNNING imports are still marked as RUNNING (but nothing is happening)

[2020-02-04 14:50] dennishendriksen opened #8884 "Executor services not shutdown on JVM shutdown"
### How to Reproduce
- Code inspect usages of ExecutorService

### Expected behavior
- ExecutorService shutdown is called as described in the ExecutorService javadoc to perform a orderly shutdown (e.g. not accepting not jobs during shutdown)

### Observed behavior
- No shutdown

[2020-02-04 15:28] dennishendriksen commented on #8793
I'm getting the error ```Expression '$('label').toLowerCase()' syntax invalid.``` which is correct according to the [expression docs](https://molgenis.gitbooks.io/molgenis/content/v/8.2/guide-expressions.html).
The current behavior is intended and not a bug.

I suggest creating a story if you want better syntax error analysis/reporting.

[2020-02-04 15:28] #8793 closed

[2020-02-04 17:12] mswertz commented on #8729
I thought this one was fixed?

[2020-02-04 17:15] mswertz commented on #8737
I would prefer that we start scope entity labels to be unique within groups, and that if there are multiple we also show groups label to disambiguate. In other words: groups behave as data schemas (or namespace if you like that term better)

[2020-02-04 17:17] mswertz commented on #8759
also part of discussion around import/export; I believe we must stop with autoid of entities as it is not helpfull for end users.

[2020-02-04 17:19] mswertz commented on #8772
why are we still using gitbook? I have refactored the lot into vuedocs.

[2020-02-04 17:21] mswertz commented on #8791
@connoratrug if you want this fixed speak now otherwise it will not be fixed in current release.
Please comment.

[2020-02-04 17:25] mswertz commented on #8840
We need this for one of our current projects who would like us to deploy a beacon.

However, I can't reproduce on Chrome nor on Mac+Firefox 55.0.2 so seems to be very specific. Hence not selected as uerget.

[2020-02-04 17:25] mswertz commented on #8841
why would I want to delete this module?

[2020-02-04 17:26] mswertz commented on #8861
Ouch.

[2020-02-04 17:37] mswertz commented on #8862
Should not block release of core, but should be fixed before fixing frontend version.
Because our front page is also vuejs so on vanilla MOLGENIS this is very in your face.

[2020-02-04 17:38] mswertz commented on #8874
Unless used in one of our frontends (i.e. data explorer, biobank explorer, etc) then I believe this doesn't block 8.3. Please let me know if you disagree

[2020-02-04 17:38] mswertz commented on #8875
I suppose this is necessary for our new biobank explorer release?

[2020-02-04 17:39] mswertz commented on #8883
If cheap to fix, then fix, if not then move to 8.x

[2020-02-04 17:40] mswertz commented on #8884
seems a broken window that we better fix immediately?

[2020-02-05 07:47] tommydeboer opened #8888 "Permissions API /permissions/ endpoint broken when a resource has int identifiers"
### How to Reproduce
1. Import _it_emx_datatypes.xlsx_
2. Make _it_emx_datatypes_TypeTest_ row level secured
3. Add user _henk_
4. With the Permission API, hand out read rights to henk on the first row of _TypeTest_:
[code]
5. Now get all permissions for _henk_:
[code]

### Expected behavior
All permissions for user _henk_ are returned.

### Observed behavior
[code]

[2020-02-05 07:53] dennishendriksen commented on #8841
Possibly when implementing beacons v2 and removing beacons v1. The real concern here is the underlying issue that prevents removing certain system packages. Modifying system data is something we do regularly between releases.

[2020-02-05 07:54] dennishendriksen commented on #8772
@sidohaakma could you address @mswertz his question?

[2020-02-05 07:58] dennishendriksen commented on #8884
agreed. prevents annoying issues when restarting at dev time.

[2020-02-05 08:33] connoratrug commented on #8791
That fine, i reported the issue as signal to improve the app, it's not a blocking issue for me now

[2020-02-05 09:17] dennishendriksen commented on #8791
@connoratrug see previous comments. how to reproduce? else the issue will closed.

[2020-02-05 09:23] Fernananas opened #8889 "Adding new xref/mref items from "old forms" numbers typed sometimes 'get eaten'."
### How to Reproduce
Create new xref or mref with plus sign from "old forms". Type in number to be new xref or mref item.

### Expected behavior
When window for new xref/mref is vissible, that typing 6 numbers can be done without problems.

### Observed behavior

While typing sometimes numbers 'get eaten'. Added gif, to show what happens.
![verdwijnende_cijfers](https://user-images.githubuserconte

[2020-02-05 10:45] bartcharbon commented on #8889
duplicate of https://github.com/molgenis/molgenis-frontend/issues/254

@dennishendriksen the old forms are in the molgenis repo right? so that issue should not have been moved to the frontend repo?

[2020-02-05 10:48] #8889 closed

[2020-02-05 13:03] #8862 closed

[2020-02-06 08:21] dennishendriksen commented on #8883
Cheap to fix

[2020-02-06 08:25] bartcharbon commented on #7215
It's not happening anymore in the current master (8.3)

[2020-02-06 08:25] #7215 closed

[2020-02-06 10:02] sidohaakma commented on #8772
@mswertz: At that time we split the story into to parts. The refactoring of the docs, which is merged into the master months ago and the transition to vuepress (https://github.com/molgenis/molgenis/pull/8491/ needs to be merged with master still). This is not merged into the master yet because of lack of time at that point. We needed to do some work regarding old versions of the documentation as w

[2020-02-06 11:56] bartcharbon commented on #8840
I checked the beacons in Opera (setting up a beacon and querying the endpoint) and all seems to be fine.

[2020-02-06 12:01] bartcharbon commented on #8840
cannot reproduce this in Firefox 72.0.1 (MOLGENIS 8.3 release branch)

[2020-02-06 12:47] bartcharbon opened #8896 "Permission API checks uppercased roles"
### How to Reproduce
create a Role "test_MANAGER" through the data explorer
try to get the permissions for this role.

### Expected behavior
response with the permissions for this role.

### Observed behavior
    "status": 404,
    "detail": "Unknown role with name 'test_MANAGER'.",

[2020-02-06 12:59] #8840 closed

[2020-02-06 13:19] dennishendriksen commented on #8840
I can't reproduce the issue when running Firefox in safe mode (i.e. with addons disabled). Probable cause is one of my add-ons (add blocker?)

[2020-02-07 07:06] #8791 closed

[2020-02-07 14:37] fdlk opened #8904 "Cannot import data to group with - in the name"
### How to Reproduce
* Create group "My Group" in the group manager, accepting the suggested group identifier `my-group`.
Import an EMX with entities without package, e.g.
[TypeTest.xlsx](https://github.com/molgenis/molgenis/files/4171273/TypeTest.xlsx)
and select the my-group root package

### Expected behavior
File can be imported

### Observed behavior
File cannot be imported

[2020-02-07 15:52] fdlk opened #8906 "Cannot import data to group starting with digit"
### How to Reproduce
* Create group "0Group" in the group manager, accepting the suggested group identifier `0group`.
Import an EMX with entities without package, e.g.
[TypeTest.xlsx](https://github.com/molgenis/molgenis/files/4171273/TypeTest.xlsx)
and select the 0group root package

### Expected behavior
File can be imported

### Observed behavior
File cannot be imported

[2020-02-07 15:53] fdlk commented on #8906
See also #8904 but this one is probably older.

[2020-02-10 09:23] fdlk commented on #8906
Is checked in https://github.com/molgenis/molgenis/blob/c677c795dcb65e7a56f45fc614369285d241d900/molgenis-data-validation/src/main/java/org/molgenis/data/validation/meta/NameValidator.java#L47

[2020-02-10 09:45] dennishendriksen commented on #8287
cannot reproduce.

[2020-02-10 09:45] #8287 closed

[2020-02-10 12:28] dennishendriksen commented on #8729
@bartcharbon could you answer @mswertz his question?

[2020-02-10 13:00] fdlk opened #8908 "Can create entity types with # in the ID"
### How to Reproduce
Create an entity type with # in the ID

### Expected behavior
This is not allowed, because everything breaks if you do it.

### Observed behavior
This is allowed.

[2020-02-10 13:08] dennishendriksen commented on #8729
not fixed.

[2020-02-10 14:51] fdlk opened #8909 "Migration uppercases group name in role names"
### How to Reproduce
In 8.2, create package `test`
Upgrade to 8.3
Check the names of the generated roles

### Expected behavior
Equal to the names that would be created if you create group `test` in a clean 8.3 instance:
test_VIEWER, test_EDITOR, etc.

### Observed behavior
They are different: TEST_VIEWER, TEST_EDITOR, etc

[2020-02-10 15:42] fdlk opened #8911 "Migration fails for servers that have root package but no groups"
### How to Reproduce
Boot 8.2 server, upload emx with a package, but do not create a group
Migrate to 8.3

### Expected behavior
It works!

### Observed behavior
Migration fails
[code]

[2020-02-10 15:43] fdlk commented on #8911
Taken a look with @bartcharbon and it looks like on a server without groups the acl class 'group' has not yet been created.

[2020-02-12 14:34] tommydeboer commented on #4080
This issue has come to light again in a slightly different way when we were testing RC 8.3.x

How to reproduce:
_Execute as admin:_
1. Add a package in the Navigator
2. Log out
3. Log in
4. Remove the package
5. Go to the Mapping Service, User Manager or Permission Manager

Now these plugins are broken because they are looking for roles that no longer exist.

**Note:** Because of the fix in #8914

[2020-02-12 15:26] MaxPostema opened #8919 "Metadata v3 swagger is different from corresponding api calls"
### How to Reproduce
compare
https://master.dev.molgenis.org/api/metadata/root_hospital_patients
with
https://molgenis.gitbooks.io/molgenis/content/data/metadata-api-v3.yaml

### Expected behavior
**EntityTypeData**
1) `package` is of type `string`
2) `idAttribute` exists
3) `labelAttribute` exists
4) refs like `Attribute` has `href`

**AttributeData**
1) `id` is object
2) `sequenceNr` is string
3

[2020-02-12 15:36] #8861 closed

[2020-02-12 15:36] #8888 closed

[2020-02-12 15:36] #2763 closed

[2020-02-12 15:36] #8884 closed

[2020-02-12 15:36] #8883 closed

[2020-02-12 15:36] #8904 closed

[2020-02-12 15:36] #8909 closed

[2020-02-12 15:36] #8911 closed

[2020-02-12 20:22] ConnorStroomberg opened #8920 "Cannot view help docs"
### How to Reproduce
go to https://master.dev.molgenis.org/
click help link

### Expected behavior
docs page is shown

### Observed behavior
[code]

[2020-02-13 06:46] dennishendriksen commented on #8920
probably a hick-up on gitbooks.io, works at the moment.

[2020-02-13 06:46] #8920 closed

[2020-02-13 10:12] #8919 closed

[2020-02-13 12:22] #8908 closed

[2020-02-13 12:23] #8906 closed

[2020-02-13 12:24] #8896 closed

[2020-02-13 14:39] fdlk opened #8926 "Duplicate basePath /api in swagger documentation"
### How to Reproduce
Open identities api in swagger documentation.
Select "Get Users" endpoint.
Try it out

### Expected behavior
A list of users

### Observed behavior
404, Because https://latest.test.molgenis.org/api/api/identities/user gets called. (Note the duplicate /api/api in the URL.

[2020-02-14 15:51] fdlk opened #8931 "Incorrect attribute name "link" should be "links" in metadata api"
### How to Reproduce
Fetch metadata

### Expected behavior
links blocks attribute names are all called "links"

### Observed behavior
One links block is called "link"

[2020-02-15 09:17] tommydeboer opened #8932 "Letting a role include itself will break the application"
### How to Reproduce
1. Add a group _test_
2. Go to the data explorer
3. Go to the _Role_ entity type
4. Activate the old forms in the settings (so you can see identifiers in the mref select box)
5. Edit the _test_VIEWER_ role
6. In the _includes_ field add the _test_VIEWER_ role (itself).
7. Save

### Expected behavior
An error message explaining you can't have recursive role hierarchies.

### Ob

[2020-02-18 11:39] #8926 closed

[2020-02-24 07:01] dennishendriksen commented on #8931
Package? Than this is by design.

[2020-02-24 07:02] fdlk commented on #8931
Okay! Then let’s close!

[2020-02-24 07:02] #8931 closed

[2020-02-24 09:39] dennishendriksen opened #8933 "Some API tests do not cleanup groups"
### How to Reproduce

### Expected behavior

### Observed behavior

[2020-02-24 09:42] bartcharbon opened #8934 "AbstractApiTest is partially duplicated"
### How to Reproduce
- check the repo

### Expected behavior
- one base class for Api tests

### Observed behavior
- AbstractApiTest exists as well as AbstractApiTest**s**
- functionality this mostly the same, but there are some differences causing test failure when simply replacing one with the other. Those differences are related to working with multiple threads

[2020-02-24 09:56] dennishendriksen commented on #8932
cause: RoleRepositoryDecorator is not validating this constraint for adds/updated

[2020-02-25 06:32] dennishendriksen opened #8936 "Mapping service attribute search broken when no ontologies"
### How to Reproduce
- Sign in as superuser on a clean MOLGENIS without ontologies
- Navigate to the Mapping Service plugin in the Data Integration menu
- Add a mapping project
- Select a source

### Expected behavior
- No errors

### Observed behavior
- ```org.molgenis.data.MolgenisQueryException: Query value cannot be null``` error

Selecting the browser back button allows you to continue using

[2020-02-25 14:27] #4080 closed

[2020-02-25 15:23] #8936 closed

[2020-02-28 14:29] #8932 closed

[2020-03-09 15:14] dennishendriksen commented on #8395
I've reported this Firefox bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1621013

[2020-03-11 15:23] mobilegenome opened #8950 "Feature Idea: more granular 'WRITEMETA' authorization to make some attributes immutable"
Hi,

would it be possible / make sense to assign the WriteMeta permission for each attribute in an entity?

This way, datasets (packages) could be created that contain entities with immutable attributes. However, users that maintain the datasets may be allowed to add additional attributes but not alter or remove existing ones.

The broader scope of this idea is that we're planning to have a core d

[2020-03-14 18:41] connoratrug opened #8951 "Redirect plugin fails in case of non top level item"
### How to Reproduce
- Add new redirect menu item ( no not forget url url encode url)
- Add item to top level menu
- test item -> it redirects
- now move ( or create ) redirect item in submenu
- test item in submenu
### Expected behavior
- it redirects to given url

### Observed behavior
blank html page with: 500 "URL not present in menu!"

[2020-03-16 20:07] #8951 closed

[2020-03-18 13:30] chrisvanrun commented on #6203
This seems to be resolved in molgenis-py-client.

[2020-03-18 14:43] tommydeboer commented on #6203
@chrisvanrun You're right, thanks!

[2020-03-18 14:43] #6203 closed

[2020-03-23 15:40] svandenhoek opened #8955 "nl_NL locale causes tests to fail [v8.1]"
### How to Reproduce
1. Set locale to `nl_NL` (for MacOS: https://support.apple.com/guide/mac-help/mh26684/mac -> change primary language, then check if set correctly using `defaults read -g AppleLocale` on the commandline).
2. Run `mvn clean install` from molgenis directory.

Tested on MacOS Mojave using commit 80faca813e216ee1f70fe2e761c3e9a748daf69e (8.1.8).

### Expected behavior
Build success

[2020-03-23 15:40] svandenhoek opened #8956 "nl_NL locale causes tests to fail"
### How to Reproduce
1. Set locale to `nl_NL` (for MacOS: https://support.apple.com/guide/mac-help/mh26684/mac -> change primary language, then check if set correctly using `defaults read -g AppleLocale` on the commandline).
2. Run `mvn clean install` from molgenis directory.

Tested on MacOS Mojave using commit a524de0fd5d0a02f5c3e9eb27c29698d14f727af (8.3.5).

### Expected behavior
Build success

[2020-03-23 16:57] svandenhoek commented on #8956
Re-tested with `mvn clean install -T4 -fae`. Outside of `api-metadata`, it seems other modules do not have this issue. That is, `molgenis-platform-integration-tests` fails due to a non-related issue (`password authentication failed for user "postgres"`, which might be a configuration issue on my side) and 2 modules (`app` + `api-tests`) are being skipped. So for these it cannot be said conclusive

[2020-03-23 17:39] jelmerveen opened #8957 "Stale cookies give 401 request error"
### How to Reproduce
On localhost, run one frontend, like dataexplorer.
let's this cookie expire.

then run on localhost biobankexplorer (both same ports)
You now get ' something went wrong' and all requests give 401 (but the resources requested are for anonymous accessible!)

When trying to navigate to /login I get an eternal redirect to /log which then times out.

clearing cookie mitigates issue

[2020-03-24 08:08] svandenhoek commented on #8956
Additional tests using `mvn test -f molgenis-api-metadata/` combined with different locales (checked with `defaults read -g AppleLocale` before running maven):
| locale | success/fail |
| -------- | -------- |
| en_NL | success |
| nl_NL | fails |
| de_NL | fails |
| nl_US | fails

[2020-03-25 09:15] marijevdgeest opened #8959 "Abstract entity shows attributes in data-row-edit"
Because this model has a lot of reference entities with the same attributes, I created an abstract entity so I don't have to define all of the ref entities in the attributes sheet. However, now when I want to add data, these attributes are also shown in the data row edit (because it extends reference entities for this entity)

### How to Reproduce
* Upload this model:
[portal_model.xlsx](https://g

[2020-03-25 10:11] #8959 closed

[2020-04-02 11:57] #6902 closed

[2020-04-02 12:40] tommydeboer opened #8962 "Old Python documentation still available"
Look at https://molgenis.gitbooks.io/molgenis/content/guide-python.html

This is old documentation for the Python Client, back when it was shipped with MOLGENIS. This page should be removed or updated so that it uses the client from `molgenis-py-client`.

[2020-04-06 18:46] AJKellmann opened #8965 "Indexing Ontologies takes quite a long time"
### How to Reproduce

1) Uploading the selfmade [ATC code Ontology](https://drive.google.com/file/d/1OVI_u4ORuagvYZsIVQOHSbGP_oBFlXC0/view?usp=sharing) including some drug information
(Advanced Import of the .owl.zip file)

2) Wait till the index is created (takes more than 1hour currently)

### Expected behavior
The relatively small Ontology should be loaded (and indexed) quite fast.

### Observe

[2020-04-07 09:24] holubp opened #8966 "Problem with Python module"
### How to Reproduce
Get BBMRI-ERIC Directory data quality check script:
git clone https://github.com/djvanenckevort/molgenis-app-bbmri-eric-scripts.git
pip install molgenis-py-client
$ ./data-check.py --purge-cache directory --disable-checks-all-remote

(this is a version of the code which used the original molgenis.py code -- upgraded to the last version of the PIP-based module)

### Expected be

[2020-04-07 09:53] fdlk commented on #8966
Hi @holubp what is your python version?

[2020-04-07 11:32] tommydeboer commented on #8966
Hi @holubp. The problem lies in the query `session.get("eu_bbmri_eric_biobanks", num=2000, expand=['contact','collections','country'])`. The `expand` parameter expects a comma-separated string instead of a list.

I will update the method's documentation because it has a wrong example.

[2020-04-13 12:01] #8966 closed

[2020-04-15 08:19] joerivandervelde opened #8968 "Importing abstract/extends tables via zipped TSV fails"
### How to Reproduce

Software:
- Clean, default MOLGENIS 8.3.6 docker instance
- Clean, default install of MOLGENIS Commander v1.7.0

Files:
- viaXLS.xlsx (https://drive.google.com/open?id=1U0cWauVYibh1Oht7rAG47tW-axJ5IPiT)
- viaTSV.zip (https://drive.google.com/open?id=1Au3tcl9X33qMH5mPKeRzLLSLWRDIdpGm)

Run:
- Scenario 1, via XLS: mcmd import -p viaXLS.xlsx

or

- Scenario 2 via zipped TSV: mcm

[2020-04-17 15:19] AJKellmann opened #8969 "SORTA - ngram broken/removed (in favor of faster indexing?)"
### How to Reproduce
Upload the selfmade [ATC Ontology ](https://drive.google.com/file/d/1OVI_u4ORuagvYZsIVQOHSbGP_oBFlXC0/view?usp=sharing) to Molgenis.

After the indexing is done (about 1 - 1.5 hours):
Create a new SORTA task:
Give the task a name, choose the ATC Ontology and add the terms to test to the field:

[code]

### Expected behavior
Matching of "Paracetamol" to Paracetamol in the Ontol

[2020-05-06 13:02] fdlk opened #8970 "Aggregate trace logging broken in client facade"
### How to Reproduce
Enable trace logging for org.molgenis.
In the data explorer, open the aggregates tab

### Expected behavior
The aggregate part of the query gets logged

### Observed behavior
The aggregate part of the query is replaced by `JsonGenerationException[Can not write a field name, expecting a value]`

[2020-05-12 10:36] MaxPostema opened #8972 "MetaData v3 API 'parentAttribute' documentation/server results mismatch"
### How to Reproduce
Follow:
https://master.dev.molgenis.org/api/metadata/test_TypeTest
Check the compound child fields (xcompound_int)

### Expected behavior
https://raw.githubusercontent.com/molgenis/molgenis/master/docs/data/metadata-api-v3.yaml
Talks about 'parentAttribute' as being a reference

Expected server to return 'parentAttribute' as a reference.

### Observed behavior
Got 'parentAttri

[2020-05-13 11:59] connoratrug opened #8976 "Default apiV3 page size is incorrect"
### How to Reproduce
Send request to data ( or meta data ) V3 without a page size query param

### Expected behavior
returns results with a page size of 20 as per spec
https://github.com/molgenis/molgenis/blob/a23d5778b042b0f45f10c49ba6d5749f1d383aca/docs/data/metadata-api-v3.yaml#L348

### Observed behavior
returns results with a page size of 100

[2020-05-13 12:00] connoratrug commented on #8976
Would like to submit a fix PR, but not sure if spec or impl is incorrect

[2020-05-14 11:55] tommydeboer opened #8978 "Personal permissions lost when logged in using OIDC"
### How to Reproduce
1. Configure OIDC on a server
2. Add a questionnaire
3. Add a group
4. Add the user to the group
5. Give the group access to the questionnaire
6. Log the user in via OIDC
7. As the user, start a questionnaire

### Expected behavior
The questionnaire is started

### Observed behavior
Error: *Unable to locate a matching ACE for passed permissions and SIDs*
[code]

[2020-05-18 05:17] sidohaakma commented on #6842
We moved to JUnit.

[2020-05-18 05:17] #6842 closed

[2020-05-18 07:28] #8978 closed

[2020-05-18 13:26] fdlk opened #8982 "Reconsider c3p0 as database connection pool"
See https://github.com/spring-projects/spring-framework/issues/24405

 <a href="https://github.com/brettwooldridge/HikariCP">HikariCP</a> instead,
 exposing a corresponding {@code HikariDataSource} instance to the application.

![evocative comparison graphs](https://github.com/brettwooldridge/HikariCP/wiki/HikariCP-bench-2.6.0.png)

[2020-05-18 13:46] fdlk opened #8983 "Switch from RestTemplate to org.springframework.web.reactive.client.WebClient"
Check https://github.com/spring-projects/spring-framework/issues/24503
Also for non-reactive purposes.

[2020-05-18 13:51] connoratrug commented on #8983
Used this for java version of node-edge-lifelines service, seems nicer then the RestTemplate stuff, although still not as nice a node :)

[2020-05-18 14:01] #8976 closed

[2020-05-18 15:28] fdlk opened #8985 "OIDC personal permissions lost"
### How to Reproduce
Turns out there's more than one way to trigger this.
The OidcClient has a configurable `userNameAttributeName`.
The permissions are lost when the value of the `userNameAttributeName` in the ID token is different from the username of the MOLGENIS User that the OpenID user gets mapped to.

1. Configure an OIDCClient, set the `userNameAttributeName` attribute to `sub` (the defaul

[2020-05-18 15:30] fdlk commented on #8985
Not clear to me how the attribute is supposed to work.

[2020-05-19 06:57] fdlk opened #8989 "Name hashing takes up too much time"
### How to Reproduce
Upload a large dataset that takes a couple of minutes to index
Profile the server while it is indexing

### Expected behavior
Most time is spent interacting with the backends or transforming data

### Observed behavior
Significant amount of time (like over a third) is spent hashing attribute names using crc32 algorithm.

[2020-05-19 11:08] dennishendriksen opened #8992 "SORTA progress bar displays non-human-readible identifiers"
### How to Reproduce
1. Import ```molgenis-platform-integration-tests/src/test/resources/owl/biobank_ontology.owl.zip```
2. Open SORTA and start a new task
3. Upload ```molgenis-platform-integration-tests/src/test/resources/txt/sorta_test_2.txt```
4. Run the matching algorithm
5. Inspect the progress bar

### Expected behavior
Progress bar does not display non-human-readable information
Progress b

[2020-05-25 20:22] fdlk commented on #8254
In 8.4, you can tag an attribute with the "token" tag.
Then a SEARCH on the field will only match values that are case-insensitive-equal to the search string.

[2020-05-25 20:43] fdlk commented on #7554
Some remarks:
* There are some other cases where a default contains makes users unhappy. For instance in bbmri eric there is a disease_type table with a code attribute that can contain `I`, `II`, and `III`.
* I've experimented with https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html which allows prefix queries when the user types `my_val*`.
* LI

[2020-05-26 07:27] cpavanrun commented on #8254
Are id attributes by default considered "tokens" tags?

[2020-05-27 08:42] fdlk commented on #7862
Intentionally reintroduced in 8.4 to fix #8965

[2020-05-28 10:51] #8965 closed

[2020-05-28 10:51] #8969 closed

[2020-05-28 11:24] fdlk commented on #8505
If you tag the `hgvs_c` attribute as `token` the filter now gives the same result.

[2020-05-28 11:25] fdlk commented on #8254
@cpavanrun no, not by default, same with enums, you have to explicitly tag them as token.

[2020-05-29 09:35] joerivandervelde opened #9010 "Anonymous user cannot download from Navigator"
### How to Reproduce

Create anonymous user with rights to view tables. In DataExplorer, the table can be downloaded. However in Navigator, this exception is thrown: org.springframework.security.acls.model.NotFoundException: Unable to locate a matching ACE for passed permissions and SIDs

### Expected behavior

Anonymous user with appropriate permissions can download data in Navigator

### Observe

[2020-05-29 10:06] LuukDijkhuis opened #9011 "REST api v2 updating one value fails if attribute is of data type xref/mref/categorical/categoricalmref"
The REST api V2 functionality Update One Value for multiple IDs does work in case the attribute is of type int or string, but fails when the attribute is of type xref/categorical/mref/categoricalmref. The error messages that occurs is: "lazyEntity instead of String"
When changing the input from for example a string value ('A') to a list ['A'] or dictionary {'A'} the errors are "ArrayList? instead

[2020-05-29 10:07] LuukDijkhuis commented on #9011
submitted by Dieuwke

[2020-05-29 10:16] joerivandervelde opened #9012 "Delete using URL as identifier fails"
### How to Reproduce

Make table with an ID attribute of type 'hyperlink', add record with e.g. 'https://hematologiegroningen.nl/protocollen/download/?id=3991'. Attempt to delete, this does not work. Probably because REST calls does URL escaping, so the ID value is not recognized anymore?

### Expected behavior

Record is succesfully deleted.

### Observed behavior

Record is not deleted.

[2020-05-29 11:14] fdlk commented on #9010
I think this is similar to #8985

[2020-06-02 10:33] tommydeboer commented on #9010
We did some research:
To start the download, a `sys_job_ResourceDownloadJobExecution` is created, which is row level secured. The owner of the job will be `ROLE_ANONYMOUS`.

After the ACL for this row is created an ACE is inserted with Spring's `insertAce` method. But before that happens, Spring checks if that's allowed for the current Sid. It gets the Sid by getting the authentication from the co

[2020-06-02 10:55] dennishendriksen commented on #9010
Because we are going to get rid of the anonymous user, since it is not a user but a role assigned to anyone that is not signed in. Cause of many issues.

All users have the user role which includes the anonymous role such that everyone (not only anonymous) has permissions on data. That is not a good idea.

Considering that most MOLGENIS instances are connected to the internet I would suggest using

[2020-06-02 11:09] tommydeboer commented on #9010
That makes sense. Using OIDC might help @joerivandervelde but doesn't fix this particular issue of course. We should either fix it or maybe prevent anonymous users from creating RLS rows some way.

[2020-06-02 11:16] dennishendriksen commented on #9010
There are more anonymous issues (e.g. https://github.com/molgenis/molgenis/issues/5583) related to adding data to the system. I propose to tackle it once we continue with security as part of "the great plan". We've discussed and encountered more anonymous hairy business that probably should be considered as well when fixing the known issues.

[2020-06-05 09:59] fdlk opened #9014 "Navigator breaks when your package is called "search""
### How to Reproduce
Create a root package Search
Visit `/menu/main/navigator/search`

### Expected behavior
The search package is shown

### Observed behavior

[2020-06-08 08:06] fdlk opened #9015 "When you make ROLE_ANONYMOUS a viewer on your group, they cannot see metadata"
### How to Reproduce
* Create a group `test`
* In the data explorer, make ROLE_ANONYMOUS include role `test_VIEWER`
* log out
* open the navigator

### Expected behavior
* No error message

### Observed behavior

No 'Read metadata' permission on entity type 'Package' with id 'sys_md_Package'. (DS04)

[2020-06-08 10:04] bartcharbon commented on #9015
I believe the problem is that the Anonymous does not have role "USER"

[2020-06-09 10:23] dennishendriksen commented on #9011
Issue was reported by mail on ```Monday, March 30, 2020 4:13:53 PM```:

[2020-06-09 12:41] esthervanenckevort opened #9018 "Google Analytics gets incorrect URLs"
### How to Reproduce
Configure MOLGENIS with GA
Look at the 'Site content' > 'All pages'

### Expected behavior
Pages are reported with the local path

### Observed behavior
Pages are reported with invalid local paths like this:
 /https://example.org/main/menu/dataexplorer?

[2020-06-10 08:46] #8982 closed

[2020-06-15 11:22] connoratrug opened #9022 "Link to apps manual in app manager is broken"
### How to Reproduce
Open/View the app manager plugin
Click on the 'the manual ' link

### Expected behavior
manual is shown

### Observed behavior
Error page not found

[2020-06-15 11:23] #9022 closed

[2020-06-15 11:25] connoratrug commented on #9022
moved to https://github.com/molgenis/molgenis-frontend/issues/309

[2020-06-15 13:51] jelmerveen opened #9023 "Google analytics does not work if privacy-friendly settings are not set"
### How to Reproduce
Go to master.dev.molgenis.org
open dev console

## Location:
https://github.com/molgenis/molgenis/blob/master/molgenis-core-ui/src/main/resources/templates/molgenis-header-tracking.ftl

[code]

This is for all front-ends, especialy critical for Biobank Explorer

### Expected behavior
Google Analytics works

### Observed behavior
Javascript stops executing because of error.

##

[2020-06-18 07:36] connoratrug opened #9024 "Activation link is not idempotent (MS ATP issue)"
### How to Reproduce
- Use the settings plugin to allow users to signup, without moderation
- Create a new account using signup, use a email that is linked to a outlook client ( for example @umcg.nl)
- Open the activation email in a outlook client where microsoft ATP (Advanced email threat protection)  is enabled.

- Try to activate the account using the link in the email

### Expected behavior
Ac

[2020-06-18 07:39] connoratrug commented on #9024
possible solution: change link from activation ( action ) to idempotent get ( to a view) and have the user fillin the activation code and press a btn to send a post request. POC can be seen here: https://github.com/molgenis/molgenis/tree/fix/make-activate-idempotent

[2020-06-18 14:44] fdlk commented on #6234
To clear up the fog:
Once retrieved, the resources *do* get cached in the browser. But the linked post explains that squid proxy does not cache the result if a query string is involved. So a user with a nearby proxy cannot benefit from previous queries made by other users to the same molgenis server.

[2020-06-18 15:03] fdlk opened #9026 "Old version of JWKS URI used"
### How to Reproduce
As admin, configure an oidc client with incorrect jwks uri.
Select the oidc client in authentication settings.
In a private window, try to log in, see that login fails.
As admin, fix the oidc client jwks uri.
In the private window, try to log in again

### Expected behavior
The login succeeds

### Observed behavior
The login keeps failing.
If you reboot the server, it works.

[2020-06-18 15:07] fdlk commented on #9026
There is a special mechanism that allows autowiring settings entities. The cached entity gets updated by a decorator on the settings entity repository. But this mechanism doesn't update referenced entity instances once they've been loaded so those can get stale.

[2020-06-22 17:39] fdlk commented on #9023
As a workaround, you can set anonymize IPs and privacy-friendly to true.

[2020-06-22 18:29] fdlk commented on #9018
I'm sorry, cannot reproduce on localhost 8.4 branch nor on latest.test.molgenis.org, 8.4.2 release

![Schermafbeelding 2020-06-22 om 20 27 36](https://user-images.githubusercontent.com/1523838/85322669-fc70da00-b4c6-11ea-9ed6-ff07cd3a8550.png)

[2020-06-22 18:30] fdlk commented on #9018
@esthervanenckevort can you provide some more specifics?

[2020-06-22 18:35] fdlk commented on #9012
Duplicates #4117

[2020-06-22 18:35] #9012 closed

[2020-06-23 07:15] esthervanenckevort commented on #9018
Once you start using the filters the URLs are incorrect. E.g. filtering on country cause this URL:
<img width="1077" alt="Screenshot 2020-06-23 at 09 14 31" src="https://user-images.githubusercontent.com/1942445/85372435-1eec0d00-b532-11ea-9d90-1169d8dca405.png">

[2020-06-23 10:36] marikaris opened #9033 "Cannot upload emx with only package if no package is available yet"
### How to Reproduce
Go to advanced importer
Upload:
[packages.xlsx](https://github.com/molgenis/molgenis/files/4818780/packages.xlsx)

### Expected behavior
I can import it just fine and have 1 package available after upload

### Observed behavior
![Screenshot 2020-06-23 at 12 33 18](https://user-images.githubusercontent.com/10075439/85393741-c4f94080-b54d-11ea-9d15-07243c2f3b00.png)

It works ju

[2020-06-23 12:52] marijevdgeest opened #9034 "Spaces in ID's give errors"
For LifeCycle (and other projects), clients create their own ID's. Often, due to typo's, a space is added at the end of the ID. This creates unclear errors and issues.

For example, when you create a new row to an entity and want to add a mref/xref value containing a space after the ID, the value is findable and can be added, but the new row cannot be saved ("unknown xref value").

### Expected be

[2020-06-23 18:41] fdlk commented on #9034
Consider putting a validationExpression on the id attribute to restrict what's allowed. Something like `$('id').matches(/[a-zA-Z]+/).value()`

[2020-06-24 13:16] #9024 closed

[2020-06-24 13:16] #9023 closed

[2020-06-26 17:01] fdlk commented on #9018
Found it! It's in the data explorer, the complete location is set as page.

[2020-06-26 19:52] fdlk commented on #8955
Duplicates #8956

[2020-06-26 19:52] #8955 closed

[2020-06-29 11:12] #8956 closed

[2020-06-29 11:16] #9018 closed

[2020-07-01 09:08] marikaris commented on #9034
Cannot reproduce in 8.3.

[2020-07-02 09:28] marikaris opened #9040 "MOLGENIS doesn't show the name of the attribute in which an incorrect ref is provided"
### How to Reproduce
Upload:
[test.xlsx](https://github.com/molgenis/molgenis/files/4863246/test.xlsx)

### Expected behavior
Unknown **mref** value 'Ref 1' for attribute **'ref'** of entity 'demo_example'.

### Observed behavior
![unknown_ref](https://user-images.githubusercontent.com/10075439/86341766-062cd700-bc57-11ea-88de-46b7d9a33831.png)

[2020-07-03 02:33] mentchf opened #9041 "SORTA results file different for online demo and docker version 8.2.4"
### How to Reproduce
Submit the same text string "abnormal electroencephalogram" to the [on-lime demo of SORTA](https://molgenis19.gcc.rug.nl/menu/main/sorta_anonymous/) and to SORTA in MOLGENIS 8.2.4, docker version, matching with HPO ontology.

### Expected behavior
The two versions of SORTA would provide the same result file for download, or the docker version could be configured to provide the

[2020-07-03 02:48] mentchf opened #9042 "SORTA in docker version 8.2.4 has Gateway Time-out for large download files"
### How to Reproduce
Process a large input file in SORTA docker version 8.2.4 and download the result set.  On my server, a 6000 line output file was successfully downloaded; a 43,000 line output file failed to download.

### Expected behavior
Files successfully processed in SORTA should be downloadable.

### Observed behavior
A 6000-line file downloaded fine.  A 43,000-line file consistently fail

[2020-07-03 02:52] mentchf commented on #9042
That should be version 8.4.2

[2020-07-03 02:52] #9042 closed

[2020-07-03 02:58] mentchf opened #9043 "SORTA in docker version 8.4.2 has Gateway Time-out for large download files"
### How to Reproduce
Process a large input file in SORTA docker version 8.4.2 and download the result set.  On my server, a 6000 line output file was successfully downloaded; a 43,000 line output file failed to download.

### Expected behavior
Files successfully processed in SORTA should be downloadable.

### Observed behavior
A 6000-line file downloaded fine.  A 43,000-line file consistently fail

[2020-07-06 06:16] christianhilbrands opened #9044 "Elasticsearch break after cleanup script"
### How to Reproduce
1. stop tomcat
2. run molgenis_cleanup
3. restore backup to the VM
4. start tomcat and opserve

### Expected behavior
tomcat start normaly, observe behavior that the elasticsearch db will be created(not removed).

### Observed behavior
the observed behavior is that molgenis v8.4.2 tries to remove the elasticsearch database and because the elasticsearch database is already remo

[2020-07-07 09:14] dtroelofsprins opened #9045 "Deleting data from an entity referenced by other entities which contains no data fails"
### How to Reproduce
Three entities: entity 1 and 2 xref to entity 3. Entity 3 contains a lot of data. Entity 1 and 2 are empty.
Delete the data from entity 3.
The actual situation was on molgenis106 with entity metabrain_snp (1.5 mln records). Xref from metabrain_ciseQTLs and metabrain_transeQTLs which were both empty to metabrain_snp.

### Expected behavior
When entity 1 and entity 2 are empty I

[2020-07-07 11:29] fdlk commented on #9045
Is the entity row-level secured or not?

[2020-07-07 12:45] dtroelofsprins commented on #9045
No it's not. Molgenis version is indeed 7.4.9. Would upgrading it to the latest version perhaps help?

[2020-07-07 14:03] fdlk commented on #9045
Unsure how to quickly reproduce this in 8.4

[2020-07-09 09:35] jelmerveen opened #9046 "Sorta not matching 100% match all the time"
### How to Reproduce
Have a clean molgenis (I used the docker repository, latest [8.4.2]
I uploaded the attached owl file.

I go to sorta,
- create task

add to the field:

name
abnormal electroencephalogram

search

### Expected behavior
Match on the 100% match

### Observed behavior
Unmatched, with closest on 68% but 100% is available!

[hp-june2020.owl.zip](https://github.com/molgenis/molgenis/

[2020-07-13 11:49] dtroelofsprins commented on #9045
Eerst met een testset op docker versie 7.4 en 8.3 uitgeprobeerd. Geen probleem met het deleten van de data.
Copy gemaakt van de package die problemen geeft op molgenis106. Geprobeerd data te verwijderen => weer dezelfde foutmelding.
Package gedownload en lokaal getest (op 7.4) wederom geen probleem om de data te verwijderen indien de xref-s aanwezig zijn.

Lijkt op server issue?!?!?
Gaat bij upgra

[2020-07-13 11:49] #9045 closed

[2020-07-16 13:42] jelmerveen opened #9047 "Sorta identifier sometimes not unique"
### How to Reproduce
use human phenotype ontology
upload attached txt file

### Expected behavior
runs to perfect match all the time

### Observed behavior
collision:

`09:52:55.709 UTC - Execution started.
09:52:55.737 UTC - Matching 43771 input terms from aaaac42xbkbzkascvqjaabqaae.
Storing results in aaaac42xbkbzmascvqjaabqaaq
09:52:55.948 UTC - progress (14200, Processed 14200 input terms.)
09

[2020-07-16 13:44] jelmerveen opened #9048 "Sorta download csv slow"
### How to Reproduce
use human phenotype ontology
upload attached txt file

### Expected behavior
download file within 60 seconds

### Observed behavior
takes several minutes to complete

[sortabulk.txt](https://github.com/molgenis/molgenis/files/4931815/sortabulk.txt)
[hp.owl.zip](https://github.com/molgenis/molgenis/files/4931817/hp.owl.zip)

[2020-07-16 16:48] fdlk commented on #9047
Taken a look at [UniqueId.java](https://github.com/molgenis/molgenis/blob/f0ef136da11aa26fef5cf2f4092752474160d34f/molgenis-data/src/main/java/org/molgenis/data/util/UniqueId.java#L43) and I think it [incorrectly](https://stackoverflow.com/questions/2978598/will-system-currenttimemillis-always-return-a-value-previous-calls) assumes that [System.currentTimeMillis](https://docs.oracle.com/en/java/ja

[2020-07-17 12:38] fdlk commented on #9048
Taken a quick look at the SORTA job and it probably will help to use forEachBatched() instead of iterating over repository.findAll()

[2020-07-17 12:41] fdlk commented on #9043
This was an issue with the nginx proxy, fixed in https://github.com/molgenis/docker/pull/76

[2020-07-17 12:41] #9043 closed

[2020-07-17 12:42] fdlk commented on #9043
The root cause, the slow download, is filed separately as #9048

[2020-07-20 15:15] fdlk commented on #8985
https://github.com/molgenis/molgenis/blob/master/molgenis-security/src/main/java/org/molgenis/security/oidc/OidcUserMapperImpl.java#L95 stubbornly sets the username to the value of the email address.

[2020-07-21 06:37] fdlk opened #9050 "Unstable Group creation API test"
### How to Reproduce
Occasionally the build will fail because the order of the roles is unpredictable.
identitiesapicontrollerit.testcreategroup:185

### Expected behavior
Green is green

### Actual behavior
https://travis-ci.org/github/molgenis/molgenis/jobs/710175846

[2020-07-21 16:33] fdlk opened #9053 "OIDC User mapper does not respect the userNameAttribute configured in OidcClient"
### How to Reproduce

1. Configure an OIDCClient, set the userNameAttributeName attribute to sub (the default).
2. Sign up a user using OIDC.
3. As admin, check the newly created user's username

### Expected behavior
It is set to the "sub" claim in the user's ID token

### Observed behavior
It is set to the "email" claim in the user's ID token

[2020-07-21 16:57] fdlk commented on #8985
Value of Authentication.getName()

When logged in with OIDC:
Authentication is an OAuth2AuthenticationToken and its principal is a MappedOidcUser

Authentication.getName() is implemented in AbstractAuthenticationToken.getName()
since getPrincipal() instanceof AuthenticatedPrincipal, it returns getPrincipal().getName()

MappedOidcUser returns the MOLGENIS username in both toString and getMappedName

[2020-07-21 16:58] fdlk commented on #8985
How the MappedOidcUser gets loaded:
MappedOidcUserService.loadUser(OidcUserRequest)
1. call OidcUserService.loadUser(OidcUserRequest)
	1. Check if user info endpoint is specified (MOLGENIS requires it)
	2. Load OAuth2User through oauth2UserService
		1. check that userNameAttribute is present in client registration
		2. call userinfo endpoint
		3. Create authorities:
			- a OAuth2UserAuthority (ROL

[2020-07-22 10:25] tommydeboer commented on #8985
![](https://github.trello.services/images/mini-trello-icon.png) [Fix OIDC bug #8985](https://trello.com/c/i5qIXhry/343-fix-oidc-bug-8985)

[2020-07-22 10:25] tommydeboer commented on #8985
![](https://github.trello.services/images/mini-trello-icon.png) [Fix OIDC bug #8985](https://trello.com/c/i5qIXhry/343-fix-oidc-bug-8985)

[2020-07-22 10:25] tommydeboer commented on #8985
![](https://github.trello.services/images/mini-trello-icon.png) [Fix OIDC bug #8985](https://trello.com/c/i5qIXhry/343-fix-oidc-bug-8985)

[2020-07-23 09:09] dtroelofsprins opened #9056 "No errors when uploading EMX with entity with two ID attributes"
### How to Reproduce
EMX with one or more entities. One of the entities contains two attributes with IdAttribute = true;

### Expected behavior
Error when uploading the EMX: "Error: entity XXX contains two ID attributes"

### Observed behavior
No error when uploading the EMX, neither when uploading the data. Only when making changes via de meta datamanager all attributes for that entity give the e

[2020-08-03 09:09] bartcharbon commented on #9056
When fixing this: keep in mind the abstract entities, if both the entity and (one or more) of its parents have an idAttr the same behaviour will occur.

[2020-08-03 13:03] tommydeboer commented on #9050
![](https://github.trello.services/images/mini-trello-icon.png) [Fix unstable group API test](https://trello.com/c/UIhRaQw0/362-fix-unstable-group-api-test)

[2020-08-03 13:07] tommydeboer commented on #8985
Fixed since 8.4.5

[2020-08-03 13:07] #8985 closed

[2020-08-04 10:17] cpavanrun commented on #9044
Just to side jump on this: where does the molgenis_cleanup live? I might be interested into using it since I am about to write one myself.

[2020-08-04 10:28] fdlk commented on #9044
@cpavanrun It lives in a private molgenis-ops-tools repository which is too littered with specifics to be deemed useful for sharing, but in case it is of use to you:
[code]

[2020-08-04 10:32] cpavanrun commented on #9044
@fdlk thanks!

[2020-08-05 07:48] tommydeboer opened #9067 "Unknown error when adding a reference attribute in the Metadata Manager"
### How to Reproduce
1. Create a new EntityType or open an existing (non-system) EntityType in the Metadata Manager
2. Add a reference attribute (_xref, mref, file, etc._)
3. Save the EntityType

### Expected behavior

### Observed behavior

[2020-08-05 07:57] #9050 closed

[2020-08-05 08:49] tommydeboer opened #9068 "MetadataManager's computed value example is outdated"
When you add an attribute in the MetadataManager it shows an example expression for computed values. These are no longer correct.

[2020-08-05 09:49] fdlk commented on #9068
I doubt they've ever been correct :)

[2020-08-05 10:43] tommydeboer opened #9069 "UnknownEntityException when adding an entity with a reference to an existing FileMeta with REST API v2"
### How to Reproduce
1. In the MetadataManager, create an EntityType with an id attribute `id` and a file attribute `file`.
2. Go to the FileMeta table and copy an identifier of one of the files there.
3. Login to the REST API and execute the following request:

```POST <yourserver>/api/v2/<your_entitytype_id>```
[code]

### Expected behavior
The entity is added without problems.

### Observed beh

[2020-08-05 11:59] fdlk commented on #9069
Do you have a stacktrace perhaps?

[2020-08-06 07:35] tommydeboer commented on #9069
@fdlk Here you go!
[code]

[2020-08-06 08:57] fdlk commented on #9069
I think this got introduced in 0847e50. `EntityType entityType = attr.getEntity();` should probably be `attr.getRefEntity()` instead. (Though I cannot oversee the consequences for all other usages)

[2020-08-10 11:49] bartcharbon commented on #9069
I think the getEntity is correct.

The code path in which the exception occured is meant for:
`If an entity is updated and no new file is passed, use the old file value`
So I think the real issue is that you end up in that branch of code.

I believe the supported behaviour is:
- create/POST a new entity with an actual file (multipart thingy)
- update an entity with a new file (multipart thingy)
-

[2020-08-11 09:43] bartcharbon commented on #9069
@mswertz Can you decide if this:
- should be fixed/implemented in v2 api
- should work in the new data api (which is currently missing batch functionality, which is the reason v2 is still used for this)
- doesn't need to be fixed/implemented (works as intended?)

[2020-08-20 13:07] bartcharbon opened #9074 "Migration (7->8) fails in rare cases where duplicate packages/groups with different casing exist"
### How to Reproduce
create a group "test" in molgenis 7
create a package with name TEST in molgenis 7
migrate to molgenis 8

### Expected behavior
- great succes

### Observed behavior
An error that the TEST_MANAGER role already exists

This is because in molgenis 7 the role names use uppercased group names.
molgenis 8 finds a package "TEST" without a group, so it will create it, and than create

[2020-08-24 13:21] bartcharbon opened #9076 "non-user-friendly error message when landing page is the redirect plugin without anonymous permissions"
### How to Reproduce
- in the menu manager make the "redirect plugin" the first menu item

### Expected behavior
either a molgenis error message stating that you do not have permissions on this plugin, or the login dialog

### Observed behavior
Web browser shows 400 - Required String parameter 'url' is not present.

This is probably caused by a redirect to "/" (home) because you lack permissions,

[2020-08-25 15:02] joerivandervelde opened #9077 "Introduce HGVS as a new DataType"
It would be really great to have HGVS notation (e.g. `NG_012232.1:g.19_21del`) as a standard MOLGENIS datatype with built-in validation. This would solve issues with VCF-style notation such as different notations depending on multi-allelic sites, or notation of structural variation taking up a huge amount of characters. Now, HGVS values are encoded as string values, which means the content is unva

[2020-08-27 06:35] tommydeboer opened #9078 "ACL tables not updated when deleting a group (+ roles)"
### How to Reproduce
1. Add a group _test_
2. Inspect the `acl_sid` table in the database:

|id|principal|sid|
|---|-----|-----------------|
|...|...|...|
|7  |true |admin            |
|8  |false|ROLE_test_MANAGER|
|9  |false|ROLE_test_EDITOR |
|10 |false|ROLE_test_VIEWER |

3. Give role _test_VIEWER_ read permission on the Metadata Manager
3. Delete the group
4. Create the group _test_ again
5. I

[2020-08-27 07:16] tommydeboer opened #9079 "Migration (7 -> 8) fails when there is a package that previously had a group associated with it"
### How to Reproduce
1. In molgenis 7.x: Add a package + group _test_
2. Remove the group but keep the package
3. Run the migration

### Expected behavior
Migration succeeds

### Observed behavior
Because of #9078, the `acl_sid` table still contains sids belong to the old group. Now the migration step (step 39) sees the package and tries to add a group + roles. Then it will add the sids (which wil

[2020-08-27 07:20] mswertz commented on #9079
is this root package? Because I don't want root packages without a group or vice versa. So group should not be able to delete without the underlying package. Or do I misunderstand?

[2020-08-27 07:22] tommydeboer commented on #9079
@mswertz This is about the migration that makes that specific wish come true :) It adds groups for packages that have none. The problem is that before that you _could_ remove the group.

[2020-08-27 07:53] mswertz commented on #9077
Would be part of semantic type in molgenis, which I believe we should put on top of primitve types as we have now.

[2020-08-27 07:54] mswertz commented on #9074
should be clear if we support case-sensitive or not; please choose one and harmonize between these systems.

[2020-08-27 07:57] tommydeboer commented on #9074
The solution to this issue is that the generated group's hash name should be used for the roles. That's how the working of this migration step was intended to avoid collisions, I think missing the role names was an oversight.

[2020-08-27 08:00] mswertz commented on #9067
I think we should rebuild the metadata manager. Would you agree? So I am hesitant to start polishing this one, but I am happy for others in the community to disagree.

[2020-08-27 08:05] mswertz commented on #9053
okay, so we hereby decide that usersnames are email?

[2020-08-27 08:05] mswertz commented on #9048
why is this not using standard download service?

[2020-08-27 08:06] mswertz commented on #9047
yes, that is pretty optimistic. Should replace with something like UUID (but then a sorted variant so the index works)

[2020-08-27 08:08] mswertz commented on #9046
for somewhere later this year early next year we will have a SORTA 2 project. So this can then be addressed then and there

[2020-08-27 08:11] mswertz commented on #9034
@marijevdgeest can you please verify if still exists, given cannot reproduce in 8.3 statement above?

[2020-08-27 08:18] mswertz commented on #9014
or we could add 'search' to forbidden package names?

[2020-08-27 08:19] mswertz commented on #9011
minimally we should give error: attributes of type 'mref', 'xref' ... cannot be updated using this endpoint

[2020-08-27 08:36] mswertz commented on #8983
this is a story for the backlog, not an issue here.

[2020-08-27 08:36] #8983 closed

[2020-08-27 08:38] fdlk commented on #9053
@mswertz it's complicated :)

[2020-08-27 08:42] mswertz commented on #8970
is this server or client side?

[2020-08-27 08:44] fdlk commented on #8970
@mswertz The molgenis server

[2020-08-27 13:31] cpavanrun opened #9081 "REST API v2 via POST broken?"
### How to Reproduce
Try to do a v2 api call with a query on POST:
`curl -X POST --header 'Content-Type: application/json' \
--header 'Accept: application/json' \
--header 'x-molgenis-token: XXXX' \
-d '{ "q":"filename==180509_A00295_0047_AH7TFMDMXX_PMCBM000AFV.ubam"}' \
'https://trecode.bioinf.prinsesmaximacentrum.nl/api/v2/data_store_file?_method=GET'`

### Expected behavior
Same as using GET:
`

[2020-08-27 13:41] fdlk commented on #9077
Keep in mind that validation and normalisation of hgvs expressions requires knowledge of the reference sequence.

[2020-08-31 12:58] MaxPostema opened #9082 "Unable to remove a group that has role extensions"
### How to Reproduce
Create a Group, delete the groep. Note: This works fine.

1) Create a Group.
2) Use `[PUT]/api/identities/group/{groupName}/role/{roleName}`to 'Change group role extension'
3) Delete the Group

### Expected behavior
Group is removed

### Observed behavior
Error: `Waarde 'aaaac5bjuc5qzswuo5mu2qiaai' voor attribuut 'id' wordt gerefereerd door entiteit 'sys_sec_Role'. (D22)`

Not

[2020-09-01 05:57] dtroelofsprins opened #9083 "When generating a personal PDF report after finishing up a questionnaire as a superuser I get wrong data"
When downloading the personal report PDF report after finishing up a questionnaire total different data then just filled in is shown. After testing, this appears only to happen in case the user is a superuser. Furthermore the data that is shown is always the same wrong data.
This does not happen when the user is a 'normal' user (in this case probably because data is RLS).

Hypothesis:
No ID/owner

[2020-09-01 07:44] fdlk commented on #9083
I think your analysis is spot on.

[2020-09-02 13:56] MaxPostema opened #9084 "data api v3 cant return data from entities that have a attribute with a minus character"
### How to Reproduce

Give an entity an Attribute with a minus character in its name. like "intro-en".
Request the entity via data api v3.

See for example:
`https://master.dev.molgenis.org/@molgenis-ui/data-explorer/dist/index.html#/quest_nillable_report_header`
That tries to do a:
`https://master.dev.molgenis.org/api/data/quest_nillable_report_header?size=100&expand=&filter=id,intro,intro-en,int

[2020-09-03 13:19] #9082 closed

[2020-09-09 09:28] marijevdgeest opened #9087 "Dates are shown in different format/timezone in download file than data explorer"
### How to Reproduce
Download data with date/time from the data explorer.

### Expected behavior
Data is downloaded in the same format and timezone as shown in the data explorer

### Observed behavior
In data explorer:
_ID:010847 M-P12-feces-1            May 2, 2019 12:00 AM_

In excel download:
_ID:010847 M-P12-feces-1            2019-05-01T22:00:00Z_

Same issue occures when data is downloaded i

[2020-09-09 11:18] fdlk commented on #9087
We store instants in the database, an instant is unique and time zone independent.

But it is not very nice to display to a human being.
The data explorer shows you a local date time, transforming the instant to (iirc) the server's current time zone.

The csv download is correct, and shows the instant stored in the database
The excel download is buggy, I think, it attaches the server's time zone t

[2020-09-09 11:55] fdlk commented on #9087
If you're looking for a different concept, we could add LOCAL_DATE_TIME as datatype

[2020-09-17 08:18] cpavanrun commented on #9081
So currently, the REST API does not support 'large' queries / questions.

[2020-09-17 10:55] fdlk commented on #9081
I think the content type is wrong, what works for me:
[code]

[2020-09-17 11:17] cpavanrun commented on #9081
@fdlk, ah. That DOES work! Thank you!

It seems that SWAGGER specs for v4.1 generate the wrong format (namely):
`curl -X POST --header 'Content-Type: application/json' --header 'Accept: application/json' --header 'x-molgenis-token: 141218bca0034bbab3ec7c3399fea291' -d 'q=id==XXX' 'https://trecode.bioinf.prinsesmaximacentrum.nl/api/v2/data_store_file?_method=GET`

[2020-09-25 16:51] #9011 closed

[2020-09-28 18:03] LordBonkerz opened #9098 "default password"
### How to Reproduce
deployed via ansible with ssl true.

ansible-playbook i_setup_molgenis_8.yml -i inventory.ini

### Expected behavior
all went well

### Observed behavior
surf to address and there is only a sign-in link and help in top right corner.  Where is the sign-up? Or what is the default admin password. I've tried all combinations and searched through the roles and used what is provided

[2020-09-28 18:06] LordBonkerz commented on #9098
CentOS 8

[2020-09-29 10:04] LordBonkerz commented on #9098
grep -i "password" /var/log/tomcat/catalina.out

and there it is!!

[2020-09-29 10:04] #9098 closed

[2020-09-29 10:07] fdlk commented on #9098
@LordBonkerz Molgenis will pick up the password from environment variables or properties file in the home dir. If no password is found, one is generated and output to the logging.

[2020-09-29 10:09] LordBonkerz commented on #9098
Cheers, thanks for the help...  Documentation should be a bit more clear on this I feel..

[2020-10-01 11:50] dennishendriksen commented on #6268
Reported by a colleague of @cpavanrun in 8.4.1

[2020-10-05 12:52] fdlk opened #9103 "Intro page for Questionnaire is shown in application default language"
### How to Reproduce
Enable Dutch
Upload c6 questionnaire, select it, update language to Dutch

### Expected behavior
The introductory text and questionnaire label are shown in Dutch

### Observed behavior
It stubbornly keeps being shown in default server language

[2020-10-06 09:24] marikaris opened #9106 "Import option ADD_IGNORE_EXISTING should be removed"
### How to Reproduce
The [molgenis documentation](https://molgenis.gitbooks.io/molgenis/content/guide-api-import.html) states that here are four possible import actions: ADD/ADD_UPDATE_EXISTING/ADD_IGNORE_EXISTING/UPDATE. However, it also states ADD_IGNORE_EXISTING cannot be used in EMX and VCF only supports ADD. The only code that seem to use the ADD_IGNORE_EXISTING is a VCF import test, checking

[2020-10-06 10:49] fdlk commented on #9106
Or implemented perhaps?

[2020-10-06 13:13] jvanveen opened #9107 "Helm chart Molgenis 1.12.0 doesn't deploy"
See: https://trello.com/c/b9Uha3Gs/335-helm-chart-molgenis-1120-deployed-niet

[2020-10-06 14:05] fdlk commented on #9107
See https://github.com/molgenis/molgenis-ops-helm/pull/361, not an issue in this repo

[2020-10-06 14:05] #9107 closed

[2020-10-07 13:32] ellendejong opened #9109 "Python API delete_list not working with cascadeDelete"
### How to Reproduce

1. Start a Molgenis 8.3.10 instance.
2. Upload test data [it_emx_onetomany (2).xlsx](https://github.com/molgenis/molgenis/files/5340944/it_emx_onetomany.2.xlsx)
(found it in https://github.com/molgenis/molgenis/issues/8447)
4. Using the metadata manager plugin to enable cascade delete for Author.books
5. Use python API to delete multiple list items, using similar code as:

[c

[2020-10-13 08:55] #9103 closed

[2020-10-21 12:03] Fernananas opened #9113 "OIDC superuser can't see questionnaires other users"
### How to Reproduce
Login as superuser using OIDC. Go to questionnaire and view all questionnaires started by other users.

### Expected behavior
Superuser can see all questionnaires that are started by all other users.

### Observed behavior
Supersuser logged in via OIDC can not see questionnaires from other users. IF same superuser logs in via local user login, all questionnaires can be seen, e

[2020-10-21 12:26] fdlk commented on #9113
@Fernananas which version are you seeing this in? We fixed https://github.com/molgenis/molgenis/issues/8985 in 8.4.5

[2020-10-22 08:59] dtroelofsprins opened #9114 "Fields with visible expression having the indexOf function are always shown when inserting via data explorer"
### How to Reproduce
Entity with different attributes. One or more attributes are always shown when doing data row editing using the forms edit plugin regardless of the value of one of the other attributes when the visible expression of this attribute includes the indexOf function.

### Expected behavior
Attributes are not shown in the edit form unless the criterium is met to show this attribute (

[2020-10-28 13:01] connoratrug commented on #9114
When the expression being evaluated generates an error the vue forms ( new forms ) stop evaluating the expression and in case of a isVisible defaults to being visible

https://github.com/molgenis/molgenis-ui-form/blob/e9b6cc5320bb96eb9007f485b04c4eb2a863fbe1/test/unit/specs/util/helpers/expressionEvaluators.spec.js#L32

The react forms ( old forms ) wrap the isVisible expression in a try catch blo

[2020-11-02 09:46] mswertz commented on #9026
still revelevant?

[2020-11-02 09:47] fdlk commented on #9026
Have not explicitly checked but would expect yes.

[2020-11-02 16:21] mswertz commented on #9106
I think generally users don't want 'ignore existing' but prefer idempotent behavior. But indeed we should discuss how to handle this one.

[2020-11-02 16:22] mswertz commented on #9087
so conclusion: we should fix Excel download?

[2020-11-02 16:24] mswertz commented on #9084
I think we should aim for names conform graphql or something reasonable like that. So no minuses?

[2020-11-02 17:35] fdlk commented on #9087
The bug in the excel download got fixed in 8.5

[2020-11-02 17:45] mswertz commented on #9069
I think indeed you don't want to end up here; and instead have put/post multi-part thingy. Does that work in v2? And should indeed work in v3 -> we are back to batch which in my mind needs some discussion for now make sure it works in existing APIs.

[2020-11-02 17:46] mswertz commented on #9053
this issue will be closed by making this parameterizable right?

[2020-11-02 17:50] mswertz commented on #9114
Indeed, error should be shown.

[2020-11-02 18:22] fdlk commented on #9053
First the simple part:
When the mapper creates a new user it needs to fill in a username.
Currently it always uses the value of the email claim, no matter what you specify in the config. This is a bug.

Then the complicated part:
When determining if a user already exists for the user info in the token, we currently look for an existing user with the same email address. If that user doesn't exist,

[2020-11-02 18:32] fdlk commented on #9106
It got introduced for i18n data, where you want to import the defaults without overriding what's already been written by users

[2020-11-02 20:05] fdlk commented on #9084
`-` in attribute names is reserved for translations, forbidden elsewhere. I think the filter parser is a bit too strict

[2020-11-03 08:24] tommydeboer commented on #9109
Thanks for the bug report @ellendejong. I did some digging around and found that the issue is with MOLGENIS. I took the liberty of rewriting your issue a bit to reflect that, hope you don't mind :)

[2020-11-03 08:27] ellendejong commented on #9109
Good to hear. Ofcourse I don't mind, thanks a lot.

[2020-11-03 08:30] fdlk commented on #9053
And the standard has something to say about it too: https://openid.net/specs/openid-connect-core-1_0.html#ClaimStability In short: you cannot rely on the email address being unique, only the issuser + sub are unique

[2020-11-05 16:07] fdlk commented on #9053
![](https://github.trello.services/images/mini-trello-icon.png) [Fix #9053 OIDC User mapper does not respect the userNameAttribute configured in OidcClient](https://trello.com/c/2b86KWmh/588-fix-9053-oidc-user-mapper-does-not-respect-the-usernameattribute-configured-in-oidcclient)

[2020-11-13 11:56] tommydeboer commented on #4117
It's also not possible to give permissions with the Permissions API to entities with a `/` in the id.

[2020-11-13 12:12] fdlk commented on #4117
https://tomcat.apache.org/tomcat-9.0-doc/config/systemprops.html Tomcat 9 rejects URLs with an encoded slash. If you set `org.apache.tomcat.util.buf. UDecoder.ALLOW_ENCODED_SLASH`, it will decode them instead. This is deprecated and will be removed in Tomcat 10

[2020-11-18 13:10] #9053 closed

[2020-11-27 07:48] dtroelofsprins opened #9123 "Non-informative error message ('An error has occurred') in data-row-edit form"
In some cases a very non-informative error message 'An error has occurred' appears at the top of the data-row-edit form.
This happens for example with some validation expressions (I think the more complicated ones), when a value in a field violates the expression the message 'An error has occurred' is shown at the top of the data-row-edit form. The user has no clue which field is wrong and what's

[2020-11-27 08:28] connoratrug commented on #9123
@dtroelofsprins please use the issue template to describe, the steps taken to cause the issue to occur.

[2020-11-27 08:46] fdlk commented on #9123
See also https://github.com/molgenis/molgenis-frontend/issues/209

[2020-11-30 13:34] connoratrug commented on #9123
fixed in [molgenis/molgenis-frontend 5.0.2](https://github.com/molgenis/molgenis-frontend/releases/tag/%40molgenis-ui%2Fdata-row-edit%405.0.2)

[2020-12-04 11:49] tommydeboer commented on #9078
![](https://github.trello.services/images/mini-trello-icon.png) [Fix #9078 ACLs not removed when deleting a group](https://trello.com/c/eYHLSyTU/656-fix-9078-acls-not-removed-when-deleting-a-group)

[2020-12-08 10:28] #9078 closed

[2020-12-08 13:11] tommydeboer commented on #9079
We are opting to close this issue without fixing it because all our servers have been migrated to 8+.

If you run in to this issue, there's a workaround:
There are `sids` for roles in the `acl_sid` table that you will nog find in the `sys_sec_Role` table. These rows should be deleted (along with any `acl_entry` rows that referenced it).

[2020-12-08 13:11] #9079 closed

[2020-12-08 13:12] tommydeboer commented on #9074
We are opting to close this issue without fixing it because all our servers have been migrated to 8+.

If you run in to this issue, there's a workaround:
There are `sids` for roles in the `acl_sid` table that you will nog find in the `sys_sec_Role` table. These rows should be deleted (along with any `acl_entry` rows that referenced it).

[2020-12-08 13:12] #9074 closed

[2020-12-09 14:28] Fernananas opened #9126 "Data importer spins infinitely when template expression is used in EMX"
### How to Reproduce
Make EMX with computed expression and using "template", e.g;  {"template":"{{TEST_CODE.labelPanel}}"}
Or downloading data with computed expression that has a working template expression. (example EMX, attached)

And try to upload using Advanced importer.
--

### Expected behavior
When using EMX with template expression, upload will result in upload of EMX.

### Observed behavi

[2020-12-10 08:46] tommydeboer commented on #6360
![](https://github.trello.services/images/mini-trello-icon.png) [Fix #6360 OIDC login and sign-up/moderation settings](https://trello.com/c/jHgF3YpA/672-fix-6360-oidc-login-and-sign-up-moderation-settings)

[2020-12-16 13:04] LuukDijkhuis commented on #9114
ok, so the fix is: keep the logic as is (visible on error) but show the error message. That is the change for this issue ticket. (Additionally, in this chr6 case: fix the null handling in the visible expressions.)

[2020-12-16 14:05] fdlk commented on #9114
We ran into this for the old forms and decided then not to bother the user who is entering data if a metadata expression is incorrect. But to console.log errors to help with debugging.

[2020-12-16 14:32] Fernananas opened #9127 "Genome browser not shown when genomic attributes are part of compound"
### How to Reproduce

Add new genome browser setting for entity where genome browser should be shown. All genomic attributes (chromosome, start, ref, alt, stop) are part of compound.

### Expected behavior
When genome browser settings are set, then genome browser should be shown in entity.

### Observed behavior

Genome browser NOT shown when genomic attributes are part of compound. If genomic att

[2020-12-17 09:07] marieke-bijlsma opened #9128 "Import API does not give the correct error message"
### How to Reproduce
Import a file via the import API that normally cannot be uploaded.
Example 1: A file containing required columns with no values.
Example 2: A file containing a duplicate column

### Expected behavior
Example 1: Correct error message: "Number of values doesn't match the number of headers", which was the case in version 8.3.11.
Example 2: Correct error message: "Duplicate column

[2020-12-17 10:34] tommydeboer commented on #9128
@marieke-bijlsma I've tried both examples you describe on version 8.5.1 and on the latest snapshot, but in all cases the imports fail. Can you upload the datasets that are succeeding on your end? I'd also like to see the exact request you send to the import API. Thanks!

[2020-12-17 15:56] fdlk commented on #5750
Nowadays you can share files using the permissions API

[2020-12-17 16:03] connoratrug commented on #5750
How do you use the permissions API to give read permissions to a rol for a set of files that a attached to a given entity ? ( for example i want all users with the viewer role in group 'example' to be able to look at the files in the 'example1' tabel)

[2021-01-04 11:12] marijevdgeest opened #9130 "Creating an entity with metadata manager gives hash as entity name + not able to download with navigator"
### How to Reproduce
Delete an entity from a package and recreate the same entity in the metadata manager
For example:
Delete entity "patient" in package "project": "project_patient"
Recreate entity "project_patient" with the metadata manager

### Expected behavior
New entity has again name "project_patient"
You can download this entity (incl metadata) with the navigator

### Observed behavior
New

[2021-01-06 13:09] connoratrug commented on #5750
RFC in private wiki: https://wiki.gcc.rug.nl/ticket/7783#ticket

[2021-01-07 09:13] tommydeboer opened #9131 "Layout of input fields on 2FA screens broken"
### How to Reproduce
Enable 2 factor authentication and configure it for a user.

### Expected behavior
The screens look like this:
![image](https://user-images.githubusercontent.com/5362890/103873733-89c8f400-50d0-11eb-9146-3fb3945d435f.png)
![image](https://user-images.githubusercontent.com/5362890/103873763-91889880-50d0-11eb-813f-d8dce03fb19c.png)

### Observed behavior
They look like this:
![

[2021-01-07 15:08] fdlk opened #9133 "Script plugin does not detect magmascript parameters with _ in the name"
### How to Reproduce
In the script plugin, create a new magma script
[code]

### Expected behavior
The parameter name `a_b` is detected and listed below the edit box

### Observed behavior
No parameter is detected. If you remove the underscore, parameter `ab` is detected

[2021-01-07 15:43] fdlk opened #9134 "React form validation broken"
script-evaluator.js gives errors when run in the browser, because it no longer is ecmascript 5

[2021-01-08 08:26] tommydeboer opened #9135 "Validation expressions in old forms no longer work"
### How to Reproduce
1. In the Data Explorer Settings, set the **Edit the data row using the forms edit plugin** setting to _False_
2. Go to an EntityType with validation expressions (for example **Attribute**)
3. Change a field with a validation expression on it (for example **Nillable**)

### Expected behavior
If the values are correct according to the expression, it shows no error.

### Observe

[2021-01-11 10:18] fdlk commented on #9134
Duplicate of #9135

[2021-01-11 10:18] #9134 closed

[2021-01-11 15:04] #9135 closed

[2021-01-12 07:41] tommydeboer commented on #9128
As discussed with Marieke, this issue can be closed.

[2021-01-12 07:41] #9128 closed

[2021-01-14 11:53] fdlk opened #9139 "SameSite warnings for Google Analytics cookies"
### How to Reproduce
Open MOLGENIS in Firefox Developer edition (I have 85.0b8)
Open the browser console
Check the warnings

### Expected behavior
No warnings

### Observed behavior
![Schermafbeelding 2021-01-14 om 12 45 24](https://user-images.githubusercontent.com/1523838/104586881-640a9480-5666-11eb-94f7-18756a77d14f.png)

[2021-01-14 11:54] fdlk commented on #9139
Not sure about the details, the browser says to check out https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie/SameSite

[2021-01-14 11:58] fdlk opened #9140 "No permission to fetch roles as group manager"
### How to Reproduce
As group manager, but NOT super user, open the Security UI.

### Expected behavior
It works

### Observed behavior

In the console I see a call to https://latest.test.molgenis.org/api/data/sys_sec_Role?expand=includes&q=name==ANONYMOUS,name==USER which gives a 401.

[2021-01-14 11:59] fdlk commented on #9140
Not sure if the call is needed and the manager permissions need to be updated, or if the UI should not make the call.

[2021-01-14 12:25] fdlk opened #9141 "Python scripts do not run in docker"
### How to Reproduce
On the kubernetes cluster:
Follow the steps in the Script test plan, for the Hello python script

### Expected behavior
The script runs

### Observed behavior
Script throws an error

[2021-01-14 12:26] fdlk commented on #9141
Tried in 8.5 on a VM, and it works fine there

[2021-01-14 13:21] fdlk commented on #9140
The checkbox state is not filled correctly

[2021-01-14 20:44] connoratrug opened #9142 "Expression evaluation in old forms is broken"
### How to Reproduce
Create a new mapping job with the following param ( from 8.6 mapping service test plan)

Name: Mapping Job Test
Cron expression:  0/20 * * * * ?
Active: no
Type: Mapping
Job parameters:{"mappingProjectId": "<mapping project id>","targetEntityTypeId": "new_target_entity","packageId": "mapping","label": "Scheduled Mapping Job Target","addSourceAttribute": true}

### Expected beh

[2021-01-18 11:20] fdlk opened #9144 "Universal Analytics is end of life"
The google analytics library we use is end of life.
The new thing is Google Analytics 4-properties.

[2021-01-21 15:14] #6360 closed

[2021-01-21 15:14] #9139 closed

[2021-01-27 08:37] esthervanenckevort opened #9152 "Directory / Negotiator API documentation missing from manuals"
### How to Reproduce
Go to [the manual](https://molgenis.gitbook.io/molgenis/v/8.5/) and search for Negotiator.

### Expected behaviour
I expect to find the [documentation](https://github.com/molgenis/molgenis/blob/master/docs/not_in_menu/biobank-directory.md) for the API and how to configure it.

### Observed behaviour
No documentation for this API or how to configure it is found.

[2021-01-29 08:23] Pacific89 commented on #9141
Hello :)
I might have a related issue:
using the script-plugin i created a small python test script using the following docker-compose file for the molgenis images (latest frontend, molgenis v8.4.2:

https://github.com/bibbox/app-rd-connect/blob/master/docker-compose.yml

The following error occurs:
File [/usr/bin/python] does not exist

Testing the python installation inside the running container

[2021-01-29 11:53] fdlk commented on #9152
I think its position in directory not_in_menu has something to do with it, and that it was intentional. Unsure why. cc @mswertz

[2021-01-29 14:11] fdlk commented on #9141
@Pacific89 #9155 fixes this by setting the `python_script_executable` to `/usr/bin/python3` in the Dockerfile.
The default is `/usr/bin/python` and it does not exist in the container.
You should be able to add the environment variable in any docker-compose as well, so you need not wait for this to be released.

[2021-02-01 08:05] Pacific89 commented on #9141
@fdlk thanks for the help! added it to our docker-compose.yml and it works fine

[2021-02-02 12:32] #9142 closed

[2021-02-02 12:32] #9141 closed

[2021-02-09 08:31] fdlk opened #9158 "Link to mapping project result broken"
### How to Reproduce
Create a mapping project.
Create integrated dataset
On the job screen click "go to result"

### Expected behavior
The result is shown

### Observed behavior
You get a 404 error

Result URL is https://master.dev.molgenis.org/menu/plugins/jobs/viewJob/null?entity=test

[2021-02-09 08:51] fdlk commented on #9158
The job looks up the data explorer in the menu to link to the result table. If it's not present, you get a 404

[2021-02-11 08:32] BrendaHijmans opened #9162 "Unable to edit homepage in WOM for lifelines-acc.gcc.rug.nl"
### How to Reproduce
Log in to lifelines-acc.gcc.rug.nl as admin and try to edit homepage. Molgenis version: 3.6.2

### Expected behavior
Edit homepage text/links etc.

### Observed behavior
Menu bar jumps to middle of screen, rest of screen is white, unable to edit anything.

[2021-02-18 15:33] tommydeboer opened #9166 "Error when downloading a file with a comma in the name"
### How to Reproduce
1. Create a file called `my,file.txt`
2. Import `it_emx_datatypes.xlsx`
3. Open `TypeTest` in the data explorer
4. Upload the file to one of the rows (attribute: `file`)
5. Go to `FileMeta`
6. Try to download the newly created file by clicking its link

### Expected behavior
Either downloads correctly, or it shouldn't have been possible to upload the file.

### Observed behavi

[2021-02-18 15:39] tommydeboer commented on #9166
**Workaround**: just change the file name in the `FileMeta` entity

[2021-02-18 16:23] connoratrug commented on #9166
![](https://github.trello.services/images/mini-trello-icon.png) [Issue prod lifelines](https://trello.com/c/6i24UNK0/412-issue-prod-lifelines)

[2021-02-19 09:24] #9166 closed

[2021-03-02 15:51] fdlk opened #9173 "Get returned to the login screen when authenticating using OIDC"
### How to Reproduce
Not sure if this is minimal but to reproduce:
Go to latest.test.molgenis.org when logged out of auth.molgenis.org.
Log in using auth.molgenis.org, federating to UMCG.
It does not matter if you're logged in on UMCG or not.

### Expected behavior
You get returned to the homepage

### Observed behavior
You get returned to the login screen.
If you click the login button again, you

[2021-03-02 15:58] fdlk commented on #9162
@BrendaHijmans 3.6.2? I'm going to close this cause that's what we do when an issue is fixed in the master. Shall we take a look together to see if we can find a workaround?

[2021-03-02 15:58] #9162 closed

[2021-03-02 15:59] fdlk commented on #9152
Talked with @marikaris and the same goes for the SORTA docs.

[2021-03-03 08:41] mobilegenome commented on #9173
I can reproduce when logging in via Elixir.

[2021-03-15 10:15] bartcharbon commented on #9130
There is a story about this: https://wiki.gcc.rug.nl/ticket/6416

[2021-03-24 12:55] #7925 closed

[2021-03-24 13:06] #5436 closed

[2021-03-25 08:57] joerivandervelde commented on #8395
Issue persists under Chrome and potentially all browsers. MOLGENIS software version 8.6.2 built on 2021-01-29 15:42 UTC.

Offending code line:
https://github.com/molgenis/molgenis-frontend/blob/01b002dd0cf7c454d991d3dd107e672a30c841e5/packages/searchall/src/components/EntityResult.vue#L22

[2021-03-26 13:23] fdlk commented on #9026
Yes, still very relevant! Running into this today with @esthervanenckevort and @erikschaberg.

[2021-03-29 20:55] fdlk opened #9195 "Jobs triggered when logged in with permissions from ID provider run with permissions from user database"
### How to Reproduce
Create OIDCClient with roles path `roles`.
Log in with a user that is no SU but has role SU granted from roles in JWT token
Run a script with that user

### Expected behavior
The script runs

### Observed behavior
The script does not run, because the user has no permissions when loaded from database

[2021-03-30 19:50] fdlk commented on #9026
Debugged some and spring OidcIdTokenDecoderFactory caches the JwtDecoder

[2021-04-02 13:54] odemura opened #9198 "RSQL operators do not match spec"
### How to Reproduce
Compare
https://github.com/jirutka/rsql-parser
and https://tools.ietf.org/html/draft-nottingham-atompub-fiql-00#section-3.2.2
with https://github.com/molgenis/molgenis/blob/master/docs/guide-rsql.md
### Expected behavior
`==`, `=!=` should behave the same way as n spec,
e.g. `actor==*Bale` => `upper(actor) like upper('%Bale')`
meaning operators `=q=, =sq=, =like=, =notlike=` a

[2021-04-02 14:05] fdlk commented on #9198
This is intentional, we want to use the rsql syntax to expose our molgenis operators

[2021-04-02 14:05] #9198 closed

[2021-04-07 11:34] connoratrug opened #9200 "Error during add one to many attribute"
### How to Reproduce
Use the V3 meta data api to create a new attribute with a one to many type

send post to
https://lifecycle-acc.molgeniscloud.org/api/metadata/LifeCycle_CoreVariables/attributes
[code]

### Expected behavior
The attribute is created
### Observed behavior
request returns with succes code (202), but no attr is created. server log shows error
[code]

[2021-04-09 13:03] marikaris opened #9202 "Cannot download very large file via navigator"
### How to Reproduce
Upload a file that is larger than the max number of lines allowed in excel.
Go to the navigator and download the file

### Expected behavior
The file will be downloaded as tsv or csv file since excel won't work

### Observed behavior
I get an error

This wouldn't be a problem if the dataexplorer download worked properly, but that one gives a timeout even sooner than when excel

[2021-04-15 12:28] #9026 closed

[2021-04-16 14:12] Fernananas opened #9206 "Metadata Manager does not show rangeMin and rangeMax values"
### How to Reproduce

In EMX fill in some range:
![Screenshot 2021-04-16 at 16 08 31](https://user-images.githubusercontent.com/40240913/115036677-04728e00-9ece-11eb-9cc5-791d35001076.png)

Import EMX, importer gives success.
Go to metadata manager, go to the specific dataelement with rangeMin rangeMax.
Attached EMX, has a lot of ranges:
[genturis_v2.xlsx](https://github.com/molgenis/molgenis/file

[2021-04-19 08:24] Fernananas opened #9207 "N/A option appears when enum or categorical is not mandatory"
### How to Reproduce
Make enum or categorical item with options: "yes", "no","Unknown". Item is optional.
Open form and see extra option "N/A"

### Expected behavior
Open form and only see my options: "yes", "no","Unknown". N/A not present as option on form in edit mode.

### Observed behavior
![Screenshot 2021-04-19 at 10 12 42](https://user-images.githubusercontent.com/40240913/115204862-40d6020

[2021-04-19 08:38] fdlk commented on #9207
This is tricky. Radio buttons cannot be deselected once you've clicked something. That's what the N/A option does.

[2021-04-21 10:58] AJKellmann opened #9209 "SORTA Examples"
### How to Reproduce
1) Go to https://sorta.molgeniscloud.org/menu/main/home
2) Click the Example 1 Button.

### Expected behavior
A request should be sent to SORTA.
SORTA should then execute the example query.

### Observed behavior
When clicking on the button Example1 a page with the Error 400 is shown:
"Required String parameter 'taskName' is not present"

[2021-04-21 11:00] fdlk commented on #9209
I cannot reproduce

[2021-04-21 11:04] connoratrug commented on #9209
@fdlk because @AJKellmann fixed ik think , the issue was the missing 'taskName' when the example is updated with the taskname it works

[2021-04-21 11:05] AJKellmann commented on #9209
### How to Solve:

SORTA requires an additional parameter. "taskName"

[code]

[2021-04-21 11:06] connoratrug commented on #9209
solved by add taskName https://github.com/molgenis/molgenis/issues/9209#issuecomment-823975739

[2021-04-21 11:06] #9209 closed

[2021-04-23 11:39] fdlk opened #9216 "Check uploaded zipfile for sane content"
See https://sonarcloud.io/project/security_hotspots?id=org.molgenis%3Amolgenis&hotspots=AXg2IkQ_D18d7SMO6C10

[2021-04-26 09:43] fdlk opened #9219 "REST API v2 query example incorrectly repeats the q parameter"
### How to Reproduce
Check https://molgenis.gitbook.io/molgenis/interoperability/guide-api-rest2

### Expected behavior
Only one q parameter and one rsql expression

### Observed behavior
`GET http://molgenis.mydomain.example/api/v2/<entity_name>?q=attr0!=val;q=attr1=ge=5`

[2021-04-27 08:18] tommydeboer opened #9222 "ImportAPI throws "No such file" error on all imports"
### How to Reproduce
Either:
a. Use the [Import API](https://molgenis.gitbook.io/molgenis/interoperability/guide-api-import) directly to import any file, or
b. Use the commander to import any file (which uses the Import API)

### Expected behavior
File imports without issues

### Observed behavior
[code]

Logs:
[code]

[2021-04-27 08:40] tommydeboer opened #9223 "Deleting a root package in the Navigator does not delete it"
### How to Reproduce
1. Import any EMX
2. Log in as Manager of the group
2. Go to the Navigator
3. Select and delete the package

### Expected behavior
Package is deleted without issues

### Observed behavior
- As manager, the client gives "Deleting completed", but the package is not deleted. Logs show no errors.

[2021-04-27 09:07] tommydeboer opened #9224 "Multiple issues with jobs when logged in via OIDC with SU role"
### How to Reproduce
1. Log in with OIDC user with SU role attached
2. Either:
  a. Try to remove a root package in the Navigator
  b. Try to download an entity type in the Data Explorer 2

### Expected behavior
Actions succeed.

### Observed behavior
Client keeps polling indefinitely. Logs show that the jobs can't be updated because of insufficient permissions, e.g.:
[code]

[2021-04-27 09:16] tommydeboer opened #9225 "Download job broken"
### How to Reproduce
1. Download an entity type in the Data Explorer 2

### Expected behavior
Download is prepared and file can be downloaded after a while.

### Observed behavior
```Download failed: An error occured while downloading your selection. (NAV01)```

Logs:
[code]

[2021-04-27 09:17] tommydeboer commented on #9225
Might be related to #9222 since in both cases the file can't be found in the filestore

[2021-04-27 09:26] tommydeboer commented on #9225
Can't reproduce this locally so I think its a problem with the filestore on https://latest.test.molgenis.org

[2021-04-27 09:27] tommydeboer commented on #9222
See #9225, probably a problem with the configuration on the test server. Leaving this issue open just in case

[2021-04-28 08:37] tommydeboer opened #9226 "Documentation still refers to Data Explorer 1 in most places"
- https://molgenis.gitbook.io/molgenis/find-view-query/guide-explore
 Describes DE1 and refers to DE2 as experimental
- https://molgenis.gitbook.io/molgenis/interoperability/guide-fair
 Says RDF can be previewed in the data explorer but this is not the case in DE2.
- https://molgenis.gitbook.io/molgenis/configuration/guide-customize#entity-report-in-dataexplorer-tabs
  Describes how to set up data

[2021-04-28 09:28] tommydeboer commented on #9222
Was a problem on the test server

[2021-04-28 09:28] #9222 closed

[2021-04-28 09:28] tommydeboer commented on #9225
Confirmed as a problem on the test server

[2021-04-28 09:28] #9225 closed

[2021-04-28 14:20] tommydeboer opened #9228 "Numerous plugins do not link to the new Data Explorer"
Numerous plugins have links to the old Data Explorer. These links disappear if there is no Data Explorer (1) in the menu.

Plugins concerned:
1. Mapping service (job), contains a link to the result
2. Search All plugin, contains links to the tables
3. One click importer

[2021-04-28 14:21] tommydeboer commented on #9228
We need to have a think on how to handle these... Should they link to the new Data Explorer and ignore the old one? Or should they link to whichever is in the menu? What if they are both in the menu?

[2021-04-28 14:25] tommydeboer opened #9229 "One-click importer broken"
### How to Reproduce
1. Go to `Import data > Quick data import`
2. Try to upload a CSV file

### Expected behavior
CSV file uploads & imports

### Observed behavior
Nothing happens.

Console:
[code]

[2021-04-28 14:45] tommydeboer opened #9230 "Data Explorer 1's data-row-edit plugin out of sync with the new one"
Since the data-row-edit app is bundled with the data explorer, the old data-row-edit plugin will not get the updates to the new one.

[2021-04-29 14:45] tommydeboer opened #9233 "Old Navigator out of sync with the new one"
Since the Navigator app is bundled with the data explorer, the old navigator plugin will not get the updates to the new one.

[2021-04-30 07:17] tommydeboer commented on #9219
Closed in #9220

[2021-04-30 07:38] fdlk commented on #9219
Not yet merged to master, though

[2021-04-30 07:42] #9219 closed

[2021-05-04 10:37] fdlk commented on #9207
If it helps: You can rename the N/A option to something else in the localization table, it's in the ui-form namespace with key form_boolean_missing.

[2021-05-04 10:37] fdlk commented on #9207
Also, if you make the field required, it goes away and validation makes sure one of the options is checked.

[2021-05-04 12:18] mswertz commented on #9207
Alternative would be to instead show a 'clear' button once an option is selected, to enable deselection

[2021-05-04 12:25] fdlk commented on #9207
Yes, through [some javascript trickery](https://stackoverflow.com/questions/46166125/uncheck-radio-button) you can unset a radio button after it's been clicked.
But UX-wise it goes contrary to what people expect from a browser

[2021-05-04 12:26] tommydeboer commented on #9206
Moved to https://github.com/molgenis/molgenis-frontend/issues/609

[2021-05-04 12:26] #9206 closed

[2021-05-04 12:30] mswertz commented on #9207
Maybe keeping 'radio' empty can be confusing. 'Unknown' would in my mind be the 'N/A' so would relabeling be sufficient in this case? I don't know if that holds for all cases?

[2021-05-05 07:08] tommydeboer opened #9236 "Custom RLS permission rules are not exposed"
**Context:**
Both `Package` and `EntityType` are row level secured, but have a decorator (`PackageRepositorySecurityDecorator` and `EntityTypeRepositorySecurityDecorator` respectively) that does checks additional to the standard RLS ACL checks.

**Examples:**
- To check if a package can be deleted, the decorator also checks if its parent can be updated.
- To see if an entity type can be created, t

[2021-05-05 07:13] tommydeboer commented on #9223
This is a side-effect of row level security: deleting a row that doesn't exist will not give an error message because you could otherwise use deletions as a way to figure out which rows exist. Additionally, root packages can only be deleted by admins. These things together make it seem like nothing happens.

Related to #9236

Moving this to `molgenis-frontend`, where it could be fixed by implement

[2021-05-05 07:13] #9223 closed

[2021-05-05 10:05] tommydeboer opened #9237 "Opening this table in DE2 completely breaks the application"
### How to Reproduce
1. Import [genturis_v2.xlsx](https://github.com/molgenis/molgenis/files/6426245/genturis_v2.xlsx)
6. If needed, remove the DE1 from the menu
7. Go to the Navigator
8. Open `Radboud university medical center > Subject`

### Expected behavior
Table opens.

### Observed behavior
The request times out and after that the whole application hangs indefinitely.

[2021-05-10 06:51] tommydeboer opened #9240 "Unnecessary synchronisation in SystemRepositoryDecoratorRegistryImpl"
Inspect the following line:
https://github.com/molgenis/molgenis/blob/4a3c9d8dd62d5e0e66169fbda6f7325b50a95908/molgenis-data-platform/src/main/java/org/molgenis/data/platform/decorators/SystemRepositoryDecoratorRegistryImpl.java#L27

There's an unnecessary `synchronised` keyword in the method signature. This can lead to deadlocks (see #9237) with other repository decorators.

[2021-05-10 06:53] tommydeboer commented on #9237
The synchronisation in `DynamicRepositoryDecoratorRegistryImpl`, together with `SystemRepositoryDecoratorRegistryImpl` causes a deadlock. See #9240

[2021-05-10 07:22] tommydeboer commented on #9229
Moved to https://github.com/molgenis/molgenis-frontend/issues/615

[2021-05-10 07:22] #9229 closed

[2021-05-10 07:43] tommydeboer commented on #9237
![](https://github.trello.services/images/mini-trello-icon.png) [Fix #9237 & #9240 Fix deadlock](https://trello.com/c/1X9haOMs/92-fix-9237-9240-fix-deadlock)

[2021-05-10 14:52] tommydeboer commented on #9224
When a job is fired, the authorisations for its context are decided based on the `RoleMembership`s of a user. But roles gotten from OIDC are not persisted in the database and are therefor lost when the job is run.

[2021-05-12 08:38] #9224 closed

[2021-05-12 08:38] #9237 closed

[2021-05-12 08:38] #9240 closed

[2021-05-18 09:09] jelmerveen opened #9243 "=ge= on a string gives a non-descriptive error"
### How to Reproduce

Example query:
/api/v2/status_samples?aggs=x==sequencingStartDate;distinct==externalSampleID&q=sequencingStartDate=ge=200508

Sequencing date is a string (aggragatable = true)

### Expected behavior
"Can't perform operator =ge= on attribute 'sequencingStartDate'"

### Observed behavior
"Can't perform operator '\" + symbol + \"' on attribute '\"sequencingStartDate\""

[2021-05-19 09:04] connoratrug commented on #9200
![](https://github.trello.services/images/mini-trello-icon.png) [Fix MetaDataApi docs en issue as reported by Connor](https://trello.com/c/GhHib5V5/12-fix-metadataapi-docs-en-issue-as-reported-by-connor)

[2021-05-19 14:46] BrendaHijmans opened #9245 "data not saved in one to many when entered in form of refEntity and form of refEntity is saved (8.6.2)"
### How to Reproduce
Upload provided data model
[one_to_many_issue.xlsx](https://github.com/molgenis/molgenis/files/6509614/one_to_many_issue.xlsx)

1. Add data in form entity gc_growthCards, save
2. Edit newly made row then enter data for attribute graph data length (one-to-many relationship to other table)
3. Click create
4. Click save changes

### Expected behavior
Newly entered data is saved

[2021-05-25 08:48] #8962 closed

[2021-05-25 09:53] #9243 closed

[2021-05-25 09:57] mh11 opened #9248 "Questionnaire example not working"
### How to Reproduce
The questionnaire example provided in the documentation does not work:
https://molgenis.gitbook.io/molgenis/data-management/guide-questionnaire
Downloaded [linked](https://github.com/molgenis/molgenis/blob/dfaa7daa3fa8e99eadf256eac1baf215cc006fb8/docs/data/simple-questionnaire.xlsx) and [matching](https://github.com/molgenis/molgenis/blob/8.6/docs/data/simple-questionnaire.xls

[2021-05-26 07:32] Fernananas opened #9250 "Default value cannot be removed using Metadata manager"
### How to Reproduce
There is a default value used in any datatype.
Go to the metadata manager, remove default value and save all changes.
Then an error occurs, example:
![Screenshot 2021-05-26 at 09 25 04](https://user-images.githubusercontent.com/40240913/119620251-13b9f500-be05-11eb-8df1-6d5539bc9797.png)

### Expected behavior
When using metadata manager to remove default value, saving would b

[2021-05-26 08:59] Fernananas opened #9251 "Suggestions of xref or mref disappear when using default values when manually adding new items"
### How to Reproduce
1. Use a default values in xref/mref
2. Go to attribute and add new item
3. Go to xref/mref field where there is a default value.
4. Click on field to see suggestions to add more options (for mref) or
4. Remove default option, click on field to see suggestions for add another value (xref/mref)

### Expected behavior
When using "normal" xref/mref (without defaultvalue), when cl

[2021-05-28 07:15] esthervanenckevort opened #9254 "Redirect plugin URL checking breaks on URLs with hash mode parameters"
### How to Reproduce
Create a menu item that links to https://directory.bbmri-eric.eu/menu/main/app-molgenis-app-biobank-explorer/#/?type=RD

### Expected behavior
When I click on the menu item I am redirected to the right page

### Observed behavior
I get a 500 error that the URL isn't in the menu

[2021-06-11 06:01] mh11 commented on #9248
Just wondering if you were able to replicate the error?

[2021-06-16 07:58] esthervanenckevort opened #9261 "Disabled users show up in security-ui"
### How to Reproduce
1. Create a user and disable this user
2. Go to the security-ui and create a new group
3. Click on add member

### Expected behavior
The disabled user is not visible in the add member dialog

### Observed behavior
The disabled user is visible in the add member dialog

[2021-06-16 08:00] esthervanenckevort opened #9262 "Disabled user with OIDC user mapping can still log in"
### How to Reproduce
1. Login with OIDC
2. Log out and login with an admin user
3. Disable the MOLGENIS user mapped to the OIDC user in step 1.
4. Log out and login with the OIDC user again

### Expected behavior
The user can not log in

### Observed behavior
The user can log in (MOLGENIS 8.6.3)

[2021-06-16 10:48] marijevdgeest opened #9263 "Deleting row after search in data explorer gives unknown error"
### How to Reproduce
When you search on a row in the data explorer and try to delete the particular row, the data explorer throws an 'Unknown Error', while the row is actually deleted. Only after refreshing the page the deleted row is gone.

### Expected behavior
Deleting a row after search is deleted immediately without errors.

### Observed behavior
Data explorer first shows Unknown error, after

[2021-06-28 09:25] fdlk opened #9265 "Template expressions escape their values"
### How to Reproduce
Create a template expression` {"template":"{{hgvs}}"}` and let it render hgvs value `c.231C>T`

### Expected behavior
`c.231C>T`

### Observed behavior
`c.231C&gt;T`

[2021-06-28 12:59] Fernananas opened #9267 "Template expression for string/text with unsafe/strange characters will be shown in safe-mode"
### How to Reproduce
Add template expression, something like this:  {"template":"{{hgnc.value}} | {{nm}} | {{hgvs}}"}
Add new value in that table with unsafe character. Something like this: c.923A>G
Safe row, look at row in data-explorer with template expression.

### Expected behavior
Show values as saved in database. Like in example: c.923A>G

<img width="472" alt="Screenshot 2021-06-28 at 11 00

[2021-06-29 12:02] fdlk commented on #9265
Duplicates #9267

[2021-06-29 12:02] #9265 closed

[2021-06-29 12:12] #9267 closed

[2021-06-30 08:23] fdlk opened #9268 "OpenID Issuer URI is cached"
### How to Reproduce
Put wrong issuer URI, try to log in, update it

### Expected behavior
new uri is used

### Observed behavior

java.lang.IllegalStateException: The Issuer "https://solverd-auth.dev.molgenis.org" provided in the configuration metadata did not match the requested issuer "https://solverd-auth.molgenis.org/"

[2021-06-30 08:26] fdlk commented on #9268
Looks like a reincarnation of #9026

[2021-06-30 09:53] fdlk commented on #9268
Nevermind, the server config was incorrect

[2021-06-30 09:53] #9268 closed

[2021-07-01 08:15] fdlk opened #9269 "Error if OIDC roles path is missing in ID token and user info"
### How to Reproduce
Set an openID roles path, log in with user who's not registered

### Expected behavior
No stack trace, just user role

### Observed behavior
stack trace and 500 error

[2021-07-01 10:45] dtroelofsprins opened #9270 "Almost all allowed relationIRI's (URL's) that can be used in sys_md_Tag result in a 404 error"
### How to Reproduce
Try the molgenis.org URL's as defined in https://github.com/molgenis/molgenis/blob/4b873617cd9ff72be91acfe2bb66047c465e7904/molgenis-data/src/main/java/org/molgenis/data/semantic/Relation.java

### Expected behavior
All URL's should work.

### Observed behavior
404 Not Found for all URL's except: http://molgenis.org#isAssociatedWith.

=> related to this in Trac the ticket #829

[2021-07-01 10:57] fdlk commented on #9270
The relation class contains IRIs, not URLs. URLs are special subset of IRIs, which makes things a bit confusing.

[2021-07-02 08:48] #9248 closed

[2021-07-05 16:05] #9262 closed

[2021-07-07 09:18] #9269 closed

[2021-07-07 14:52] MaxPostema opened #9276 "Part of page is hidden behind header"
### How to Reproduce
- Add a image above the header
- Navigate to a bootstrap3 page ( like useraccount )

### Expected behavior
I can see the whole page

### Observed behavior
The first part of the page is obstructed by the header:

<img width="955" alt="Schermafbeelding 2021-07-07 om 16 47 10" src="https://user-images.githubusercontent.com/46395349/124780976-52ce8080-df43-11eb-8ae1-717f880e47d0.p

[2021-07-07 14:54] #9276 closed

[2021-07-20 12:26] fdlk opened #9278 "Default request parameter encoding for multipart requests is iso-latin-1"
### How to Reproduce
Create an entity with a string and a file attribute, go to the data row editor and add a row with non-ascii string `pâté`

### Expected behavior
The value `pâté` is encoded correctly

### Observed behavior
The value is mangled to `pÃ¢tÃ©`

[2021-07-20 12:27] fdlk commented on #9278
As a workaround, you can configure the default request encoding in tomcat's conf/web.xml by adding `<request-character-encoding>UTF-8</request-character-encoding>`

[2021-07-20 13:37] #9278 closed

[2021-07-22 13:48] fdlk opened #9282 "Menu filtering fails because of deadlock"
### How to Reproduce
Don't know, we were importing a large file

### Expected behavior
Users can concurrently use MOLGENIS

### Observed behavior
Worker threads are hogged, all waiting for the database
[code]

[2021-07-22 14:07] fdlk commented on #9282
The commit of the import takes a looong time and is busy retrieving metadata.
[code]

[2021-07-22 14:37] MaxPostema opened #9289 "Uploading a tsv file fails"
### How to Reproduce
Do Importer testplan
At step: IMPORTEDITOR002 | user upload existing EntityType with permissions
when trying to upload data_hospital.tsv

### Expected behavior
File imports succesfully

### Observed behavior
Error! Your import failed:
Can not import file. No suitable importer found

[2021-07-23 08:19] fdlk commented on #9207
Talked with @Fernananas We propose to make a setting to configure if you want the N/A to appear or not.

[2021-07-23 08:32] fdlk opened #9283 "Expression validation fails when creating new entity type in metadata manager"
### How to Reproduce
Create an entity type in the metadata manager.
Fill in expressions for the attributes and press save

### Expected behavior
The entity type saves

### Observed behavior
Attribute validator complains about unknown attributes

[2021-07-23 09:51] MaxPostema opened #9284 "Removing entity that reference each other is impossible"
### How to Reproduce
- Have entity A reference to entity B
- Have entity B reference to entity A
- Delete both entities at the same time.

### Expected behavior
Both entities get removed

### Observed behavior
You will get an error that you cant remove an entity that is being referenced to

[2021-07-23 09:54] MaxPostema commented on #9284
We helped the customer by hinting to first change the metadata and remove the references in question.

[2021-07-23 10:10] fdlk commented on #9284
Are we talking about entity types A and B or about entity rows A and B? I thought that circular references between entity types aren't possible. And how are the entities removed together?

[2021-07-23 10:36] fdlk opened #9285 "Cannot remove expression in metadata manager"
### How to Reproduce
Open entity type with expression in the metadata manager, remove the expression, save

### Expected behavior
Expression is gone

### Observed behavior
Instead of null, saves empty string which is not a valid expression.

[2021-07-23 10:41] fdlk commented on #9285
Same goes for default value, also cannot be cleared once it's been set

[2021-07-23 11:42] fdlk commented on #9207
To recap what was discussed: the customer has enum attributes with options Yes, No, Unknown. Depending on other fields, the user needs to explicitly look at some of these attributes and pick one of the three options. For other enums, this is optional, they may be left empty. So they never need to be able to deselect.

[2021-07-30 15:37] fdlk opened #9287 "Data explorer entity type description overflows"
### How to Reproduce
Open the data explorer with an entity type that has proper label and description

### Expected behavior
Things look sane

### Observed behavior
Everything overflows into each other:
![Schermafbeelding 2021-07-30 om 17 35 42](https://user-images.githubusercontent.com/1523838/127677029-c3c24af7-1057-4fa0-a88d-cf3379865b1c.png)

[2021-08-02 13:34] MaxPostema commented on #9287
Styling of this is done in flex (not really ie11 friendly?) I am taking this issue to the frontend

[2021-08-03 08:32] tommydeboer commented on #9263
I ran into the same problem. Looks like it's a caching issue:

[code]

[2021-08-04 12:25] fdlk commented on #9282
We think this is sort of the same as #8670

[2021-08-05 13:56] tommydeboer commented on #9289
I can't reproduce this. Are you sure you are using the right file?

[2021-08-05 14:04] tommydeboer commented on #9289
@MaxPostema couldn't reproduce it either 😄

[2021-08-05 14:04] #9289 closed

[2021-08-05 14:32] tommydeboer commented on #9173
Did some digging: this only happens the first time you log in, when the OIDC user mapping is created.

[2021-08-10 06:59] tommydeboer opened #9291 "The test file emx-questionnaire.xls does not import"
### How to Reproduce
Import the test file `emx-questionnaire.xls` (under `molgenis-questionnaires/src/test/resources/`.

### Expected behavior
The test file imports without problems.

### Observed behavior

[2021-08-10 08:10] tommydeboer commented on #9113
@Fernananas I also can't reproduce this. The issue sounds a lot like the one @fdlk mentioned, which is fixed since 8.4.5. You might be using an old OIDC Client configuration (missing a value for `claimsRolePath`).

[2021-08-10 14:08] tommydeboer commented on #9113
Looked at it with @Fernananas and we couldn't reproduce it.

[2021-08-10 14:08] #9113 closed

[2021-08-12 12:07] Fernananas opened #9292 "Auto generated dates not working in compound"
This issue looks the same as: [#8235
](https://github.com/molgenis/molgenis/issues/8235) Whereas it seems that the issue is only fixed when using Autodate NOT as part of compound
### How to Reproduce
Make autodate with following settings:
![Screenshot 2021-04-29 at 13 29 19](https://user-images.githubusercontent.com/40240913/129193217-93ddf301-0868-4182-a738-c33cb9c13dc6.png)
Edit form of entity w

[2021-08-12 12:09] Fernananas commented on #9284
![](https://github.trello.services/images/mini-trello-icon.png) [Transform cranio](https://trello.com/c/TbXL43UD/186-transform-cranio)

[2021-08-12 12:10] Fernananas commented on #9292
![](https://github.trello.services/images/mini-trello-icon.png) [Transform cranio](https://trello.com/c/TbXL43UD/186-transform-cranio)

[2021-08-12 12:27] Fernananas opened #9293 "visibleExpression of compound overruled by expressions of children attributes"
### How to Reproduce
Use visibleExpression on compound, do not use any visibleExpressions on childeren attributes. In form "header" = compound is visible even when visibleExpression is false. Example: compound only shown when option 1 is chosen, childeren attributes no visible expression.

### Expected behavior
"header" is NOT shown when visibleExpression is False.

### Observed behavior
"header"

[2021-08-12 12:27] Fernananas commented on #9293
![](https://github.trello.services/images/mini-trello-icon.png) [Transform cranio](https://trello.com/c/TbXL43UD/186-transform-cranio)

[2021-08-18 07:20] tommydeboer opened #9300 "Menu overlaps plugins when zoomed in or on small screen"
### How to Reproduce
1. Go to the Data Explorer
2. Zoom in until contents of the menu don't fit on the screen anymore

### Expected behavior
The whole plugin is visible. I can still see the Data Explorer settings cogwheel ⚙️

### Observed behavior
![image](https://user-images.githubusercontent.com/5362890/129854990-5cda8860-f999-4da8-8366-bdbb509ea70f.png)

[2021-08-18 08:13] tommydeboer opened #9297 "Configurable N/A values break the old forms"
Context: in #9207 a feature was introduced that makes the N/A value of nullable categoricals, booleans and enums configurable.

### How to Reproduce
1. Go to the Data Explorer and open the settings
2. Set **Edit the data row using the forms edit plugin.** to **No**
3. Navigate to the _OIDC Client_ entity type
4. Create a new row

### Expected behavior
Forms open without issues. N/A values display

[2021-08-23 07:52] tommydeboer opened #9304 "Scripts don't show output if there is an error"
### How to Reproduce
1. Go to the Scripts plugin
2. Add the following Python script:
[code]
3. Save and run it

### Expected behavior
The script fails but I can still inspect the output to see what has happened until the error occurred.

### Observed behavior
Only the error is logged:
[code]

[2021-08-24 11:08] fdlk commented on #9304
We propose to merge the standard output and standard error to one stream

[2021-08-27 12:45] Geo-Vl opened #9306 "User's activation link doesn't work when molgenis run on port 8080"
Version 8.6, Docker.
### How to Reproduce
1. Set molgenis run on port 8080 instead of 80
2. Try to sign up a user
3. The link that is sent to user's e-mail doesn't work

### Expected behavior
The e-mail that the user receives should be:
"In order to activate your account go to: http://mydomain.com:8080/account/activate
and activate your account using the following code: xxxxxxxxxxxxxxx"

### Obser

[2021-08-31 15:19] #9207 closed

[2021-08-31 15:19] #9292 closed

[2021-08-31 15:19] #9300 closed

[2021-09-07 08:17] fdlk opened #9310 "User manager cannot edit user details"
### How to Reproduce
Go to the user manager, click edit button for a user

### Expected behavior
User edit form is shown

### Observed behavior
Error message says it cannot find form options

[2021-09-07 11:57] fdlk commented on #9310
As a workaround, I think you can edit the users in the data explorer.

[2021-09-14 11:45] #9310 closed

[2021-09-16 16:12] fdlk opened #9316 "Mapping service broken when one of the source entity types gets deleted"
### How to Reproduce
* Create mapping project that maps a source entity type to a target entity type
* Delete the source entity type
* Open the mapping service

### Expected behavior
Mapping service shows a list of mapping projects, bonus i

### Observed behavior
Mapping service only shows error screen

Unknown entity type '<the source entity>'. (D01)

[2021-09-17 11:44] dtroelofsprins opened #9317 "Add hostname to e-mails send from scheduled jobs (crontab)"
### Wish
In scheduled jobs an e-mail address can be entered in the failed or success mail fields.
When the jobs runs and it fails (or succeeds) an e-mail is send, however it's not clear from which server it was send, as the sender is always molgenis@gmail.com.
The only way to find out from which Molgenis backend this e-mail is send from is by checking the 'Bericht Details'

It would be nice if the

[2021-09-17 12:33] fdlk commented on #9317
We usually file feature requests in trac.molgeniscloud.org, so they can be scheduled in a sprint

[2021-09-17 12:35] fdlk commented on #9317
As a workaround, I think you can configure the server's admin email address with a + in the name, e.g. molgenis+lifelines@gmail.com

[2021-09-22 14:30] tommydeboer opened #9321 "Occasional NPEs when an entity is updated and read simultaneously"
### How to Reproduce
1. Import the BBMRI ERIC model and at least the PL node
2. Run the following script until you get one or more errors:
[code]

Ask me for the `biobank.json` file :)

### Expected behavior
All requests finish succesfully.

### Observed behavior
Occasionally a request fails with a `NullPointerException`:

[code]

[2021-09-22 14:35] tommydeboer commented on #9321
@fdlk and I looked at it and we suspect it has something to do with the metadata administration and concurrency. Because of all the updates, the L2 cache redirects to the database. When the database rows are mapped to objects, one of the reference attributes is null because it is not present in the metadata (we think). More analysis is needed 🧐

[2021-09-22 14:35] tommydeboer commented on #9321
![](https://github.trello.services/images/mini-trello-icon.png) [Null pointer exception BBMRI.pl](https://trello.com/c/2FzGhJyS/237-null-pointer-exception-bbmripl)

[2021-09-24 08:45] #9304 closed

[2021-09-24 12:08] #9321 closed

[2021-10-05 06:55] tommydeboer commented on #9173
Sadly #9290 only fixed this on localhost

[2021-10-08 13:34] fdlk opened #9335 "Change password validator broken"
### How to Reproduce
* Create a new user, set "Change password" to true
* Log in as the new user
* Fill in change password form
* Submit

### Expected behavior
Password is changed and you are logged in

### Observed behavior

[2021-10-11 09:32] #9335 closed, assigned to nobody

[2021-11-10 15:43] tommydeboer opened #9347 "Deleting an entity type does not remove its database sequences"
### How to Reproduce
1. Create an entity type with an id attribute with a sequence (follow [the documentation](https://molgenis.gitbook.io/molgenis/v/9.2/data-management/pseudonymisation))
2. Inspect the `information_schema.sequences` table in the database and locate your sequence
3. Delete the entity type

### Expected behavior
The sequence is deleted from the database

### Observed behavior
The

[2021-11-16 13:40] tommydeboer opened #9350 "IllegalArgumentException when using bulk update endpoint of the Permission API"
### How to Reproduce
1. Import it_emx_autoid_testAutoId
2. Enable RLS for the entity type
3. Copy the identifier of one of the rows
4. Add user bofke
5. Give the row a permission:

`POST <>/api/permissions/entity-it_emx_autoid_testAutoId/<row_id>`
Body:
[code]

6. Try one or more of the following:
`PATCH <>/api/permissions/entity-it_emx_autoid_testAutoId`
[code]

or:
`PATCH <>/api/permissions/enti

[2021-11-16 13:49] tommydeboer commented on #9350
Documentation was incorrect. `id` field should be `objectId`. Will be fixed in upcoming PR

[2021-11-16 13:49] #9350 closed

[2021-11-16 14:02] tommydeboer commented on #8772
Here in 2021 it looks good: https://molgenis.gitbook.io/molgenis/interoperability/guide-api-permissions

There were some `json` tags missing though, which I've added in https://github.com/molgenis/molgenis/pull/9349 (among other things).

[2021-11-16 14:02] #8772 closed

[2021-12-01 14:30] connoratrug opened #9355 "Index error on data request"
### How to Reproduce
Setup 9.2 server using docker compose
Load-up schema and data for https://github.com/molgenis/molgenis-app-lifelines-webshop
Setup add as described in https://github.com/molgenis/molgenis-app-lifelines-webshop/blob/master/deployment/lifelines
Update the index depth for the variable entity type
Load the app
select a subsection
### Expected behavior
Subsection variables are show

[2021-12-01 14:43] connoratrug commented on #9355
most likely the indexing job was still running , causing the error

[2021-12-01 14:43] #9355 closed

[2021-12-09 11:17] Fernananas opened #9356 "Opening fom in edit-mode takes a long time(2 minutes) to load all optionlists"
### How to Reproduce
To reproduce this, you need a EMX with new expressions and containing a lot of mref/xref/categoricals. Example EMX, can be found on https://genturis-registry.eu/ or https://questionnaire.chromosome6.org/. I will attach EMX of genturis for testing.
[genturis_EMX.xlsx](https://github.com/molgenis/molgenis/files/7684572/genturis_EMX.xlsx)

When EMX is uploaded, open subject table

[2021-12-13 08:29] sidohaakma opened #9361 "Upgrade to log4j 2.15.0 with upgrading the parent pom to 2.5.7"
We are working with logback and are only using the the log4j-api. So we are not vulnerable. Just for the sake of keeping up with the latest fixes upgrade to the new parent-pom at 23-12-2021.

[2022-02-15 15:58] #9356 closed

[2022-02-16 13:21] tommydeboer opened #9376 "Molgenis no longer waits for Elasticsearch to be up"
### How to Reproduce
1. Start your (dev) environment without Elasticsearch
2. Start Molgenis
3. Wait for molgenis to start polling Elasticsearch

### Expected behavior
[code]

### Observed behavior
Molgenis crashes immediately.

[2022-02-22 13:13] #9376 closed

[2022-03-01 15:37] aneashodselmans opened #9381 "Molgenis 10 search bug data explorer"
### How to Reproduce
wanneer je zoekt via de data explorer in [​https://directory.bbmri-eric.eu/#/](https://directory.bbmri-eric.eu/#/) (molgenis 9.2.1) op een collections ID, krijg je een andere resultaat dan wanneer je de zelfde ID zoekt op [​https://bbmri-acc.gcc.rug.nl/](https://bbmri-acc.gcc.rug.nl/) (molgenis 10.0.1) (token staat aan)
bijv. bij collection id : bbmri-eric:ID:AT_MUG:collection

[2022-03-09 08:35] marijevdgeest opened #9382 "Uploading attributes with not allowed characters give unclear errors"
### How to Reproduce
When you want to upload a model in Molgenis 10, but you have accidentally a space in an attribute name in the attributes sheet, sometimes Molgenis gives an unclear error:
[code]

But not all the time, once I got the normal error that mentioned there was a not allowed character and for which attribute, I wasn't able to pinpoint why this happend.

### Expected behavior
When uplo

[2022-03-11 16:39] rsgoncalves opened #9383 "Unable to upload OWL ontology file for use in SORTA"
### How to Reproduce
Advance data import > choose ontology file .owl > Error! Your import failed: Unknown extension for file 'hpo.owl'

Using Molgenis v9.2.1 via Docker compose.

### Expected behavior
Ontology should be uploaded so that it appears as an option for SORTA term mapping.

### Observed behavior
Error when uploading ontology for use in SORTA.

[2022-03-23 15:34] tommydeboer opened #9386 "Search-all slow, inconsistent with previous versions and in some cases completely broken"
When using the search bar in the Data Explorer, generally you will find that response times have deteriorated. Some other issues include:

**BBMRI**: Searching for a biobank ID results in many many results instead of just the one biobank (like it did in 9.0)
**Chr6**: Searching anything will result in an error that the max query clause count has been reached (defaults to 1024). This value can be b

[2022-03-24 10:05] #9386 closed

[2022-10-13 13:15] connoratrug opened #9397 "Remove all user permissions by accident"
### How to Reproduce
When making a change to the group users, the ui seems to suggest a save button to persist the changes made to the user members list,  however what is actuality happening is that the user permissions are removed.
![Screenshot 2022-10-13 at 15 13 30](https://user-images.githubusercontent.com/47183404/195606498-f443ce1d-4de2-4bb7-b9b4-5cf270b5ee67.png)

### Expected behavior
Sing

[2022-10-26 10:01] marijevdgeest opened #9398 "Lifelines catalogue: hidden variables reappear when editing an order"
### How to Reproduce
(See email Laura Nauta 25/10)
1. Open de catalogus met de standaard selecties voor assessments
2. Ga naar de subsectie Nutrition -> Eating behavior
3. Selecteer alle variabelen dmv het knopje all -> resultaat in winkelwagen is 57 variabelen
4. Deselecteer de variabelen dmv het knopje all en selecteer de variabelen van een specifieke assessment (bijvoorbeeld 2b)
-> resultaat in